[2015-06-02 08:11] AndreyLavrov opened #7 "Can n't mount shared folder from Windows 2008 R2 (EE x64 SP1)"
New folder was not registered in SMB app after creation but this folder still present in the File Manager.
I can not unmount this folder from File Manager.

[2015-06-02 08:18] #7 closed

[2015-06-02 08:21] AndreyLavrov opened #8 "Can n't unmount SMB folder from File Manager."
New folder was not registered in SMB app after creation but this folder still present in the File Manager.
I can not unmount this folder from File Manager.
![screenshot 2015-06-02 at 11 25 43](https://cloud.githubusercontent.com/assets/12710354/7931629/d871d314-091a-11e5-91d6-9803fb974ac0.png)

[2015-06-02 08:49] mtomasz-chromium opened #9 "Nothing happens after installing on M44."
M44 is hitting beta soon, and onLaunched is not dispatched automatically when an app/extension is installed. I'd recommend to add listeners to onMountRequested and onConfigureRequested.

To maintain backward compatibility with M42 and M43 you can do:
if (chrome.fileSystemProvider.onMountRequested) {
  chrome.fileSystemProvider.onMountRequested.addListener(...);
}

[2015-06-02 09:33] mtomasz-chromium opened #10 "Extension name is cryptic."
For a typical user it may be very difficult to understand what "SMB/CIFS File System" means. I'd suggest something simpler if you want your extension to be popular. I guess that most users will just want to access their files on Windows without caring about the underlying protocol. But this is just a suggestion.

[2015-06-02 10:25] yoichiro commented on #10
@mtomasz-chromium Actually... I also think it, too... But, I was not able to think a good name...

[2015-06-02 10:29] yoichiro commented on #9
Thank you for this reporting. The new version already released. #11

[2015-06-02 10:29] #9 closed

[2015-06-02 10:40] yoichiro commented on #10
@mtomasz-chromium My ideas are below. Which is your favorite?
- File System for Windows(TM)
- File System for Samba
- Samba File System
- SMB File System
- File System for SMB/CIFS
- File System for SMB
- File System for Windows(TM) Shared Files
- Windows(TM) File System

Hmm... To decide name is always difficult...

[2015-06-02 10:52] mtomasz-chromium commented on #10
In my opinion Samba, SMB, CIFS are cryptic and less than few percents of Chromebook users will understand them. I'd vote for the last one.

Also, this document may explain how to use Windows in the app name.
https://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/usage/general.aspx

[2015-06-02 11:57] yoichiro commented on #10
Hmm... I intend to apply this name "Windows® File System". Also, icon images will be changed.

[2015-06-02 12:26] wolfchimneyrock opened #13 "Won't mount volume from zyxel NSA325 NAS"
ChromeOS version:
Version 43.0.2357.81 beta (64-bit)
Platform 6946.55.0 (Official Build) beta-channel falco
Firmware Google_Falco.4389.92.0

NAS linux version:
Linux NSA325 2.6.31.8 #2 Mon Aug 11 16:32:01 CST 2014 armv5tel GNU/Linux
NAS smb.conf:
[global]
        workgroup = WORKGROUP
        server string = NSA325
        netbios name = NSA325
        dos charset = UTF8
        display charset =

[2015-06-02 12:51] mtomasz-chromium commented on #10
Hm, I think according to the link Windows(R) can't be at the beginning. I'd recommend to check carefully.

[2015-06-02 13:02] yoichiro commented on #13
@wolfchimneyrock Could you confirm the debug console output? You can check it out by the step below:
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-06-02 13:03] yoichiro commented on #10
Oh, really? Hmm... OK, I read the guideline more carefully...

[2015-06-02 17:21] mattsjo opened #14 "Can't mount volume from an Asus Router"
Hi,
Thank you for all your file system extensions! Eventually I usually get them to work but I can't get around this one...

I'm trying to mount a share from my Router (Asus RT-AC66U running ASUSWRT-Merlin 378.52_2) and it fails...

This is the output from the console on my Chromebook (stable-channel peach_pi):

Object {type: "getSharedResources", serverName: "192.168.0.1", serverPort: "445", user

[2015-06-02 17:30] divx118 opened #15 "Cannot mount more then one shared folder from the same smb server."
Like the title says. I get a popup of my shared folders when connecting to my smb server, however if I already had mounted one and try to mount a second it says already mounted.
Console output:
[code]

[2015-06-02 17:35] divx118 opened #16 "Cannot mount smb shares from my synology DS213j NAS"
The title says it all.
Console output:
[code]

[2015-06-02 17:45] divx118 commented on #10
Hmm why is samba/smb/cifs cryptic. I don't use windows at all, however I am using smb shares on my linux machines. Windows would be cryptic to me. I would at least leave some reference to "smb" in there.
However just my 2 cents. I am already glad you started the app and even more nice shared the source.

[2015-06-02 17:47] dnikkel commented on #16
I have a DS213J as well and just successfully mounted a share from it, first try, no problems.  I quickly found the other problem that I see already reported - you can only mount one share at a time.

[2015-06-02 17:51] dnikkel commented on #15
I just encountered the same problem.  I had to unmount the first share I mounted before I could mount a different one.  This will severely impact usability for me - I have three shares on my Synology NAS that I will want to use and not have to keep unmounting to switch.  Not to mention, you have to completely re-enter the server details and user credentials every time you mount.

[2015-06-02 17:58] divx118 commented on #16
@dnikkel Ah ok. Which DSM version are you running on your DS213j?

[2015-06-02 18:01] dnikkel commented on #16
I'm running the latest update - DSM 5.2-5565 Update 1.

[2015-06-02 18:03] divx118 commented on #16
Hmm strange, I am running the same. I am going to try some things. You did use the default port 445?

[2015-06-02 18:09] dnikkel commented on #16
Yup, I left the port at default.  I've been trying to think is there is anything else useful to pass along but my configuration is very vanilla (I think...).  The user I connect as has read and write permissions on the share - that's about the only thing I can see to mention.

[2015-06-02 18:21] divx118 commented on #16
I can't get it to work, maybe it is the number of shared folders. I have about 15 of them. When I have some time I will take a look at the source code to see if that could be an issue.

[2015-06-02 19:57] ghost commented on #10
I think the name is fine. Those who need it will know those terms. The fact that Windows file share is mentioned in the description will allow it to be found in more general searches.

[2015-06-02 19:59] brycethorup opened #17 "Add share scanning support."
It would be nice to be able to have a list of available shares listed from a network scan.

[2015-06-02 20:02] brycethorup opened #18 "Adding an address that can't be found causes the application to get stuck"
When I try to add a host IP it seems that if it cant connect to it I am unable to press the `MOUNT` button after entering a different IP. I have to close the app and re-open it.

[2015-06-02 21:15] dnikkel opened #19 "Some operations are taking longer than expected. Do you want to abort them?"
I'm experiencing the same problem with the SMB provider that I had with the WEBDAV provider.  When I'm streaming music from my Synology NAS, I get a steady stream of system messages popping up saying, "Some operations are taking longer than expected.  Do you want to abort them?"  However, the streaming does not have any detectable dropouts when this happens.

In one case, I did have playback freez

[2015-06-03 00:26] scre80 opened #20 "Windows File Server - Can Not Connect"
Hi,

Firstly, very excited. We at our company have been waiting for this app to come.

I am trying to connect to a particular share on our Windows File Server. All I see is attempting to mount and then there is no error or connection.

Can you please confirm if this app is enterprise ready yet? as in can connect ton Win 2003 / 2008 servers with domain credentials? I also tried a standard Win 7 PC

[2015-06-03 00:29] mtomasz-chromium commented on #10
Hm. It seems that this extension is used often for NAS. If so, then maybe the current name is not bad? On the other hand, maybe we can include both, like "File System for SMB/CIFS and Windows(R)"? But I don't want to suggest. It's up to you, your extension :).

[2015-06-03 03:45] to0w1r3d opened #22 "tomato share"
Cannot mount smb share on tomato router - cifs1/2 no authentication

[2015-06-03 06:38] yoichiro commented on #15
@divx118 @dnikkel Ahh, I understand your report. Probably, this reason is to use same Process ID (currently always 1) against all connections... I intend to try to fix this issue at the next version.

[2015-06-03 08:22] icebun commented on #20
I have the same problem.

I have trying to connect to a WIndows 2003 File Server on a Domain.

The error I am getting is as folllows:_

3221225581

NT_STATUS_LOGON_FAILURE

[2015-06-03 09:55] scre80 commented on #20
Hi,

I got it working on my NAS at home straight away, just in our Windows AD environment I can not get it working. Has anyone been able to get this working?

Thanks
Scott

[2015-06-03 12:03] yoichiro commented on #15
@divx118 @dnikkel I expect that this pull request #24 can solve this issue. This diff will be released at the next version.

[2015-06-03 15:54] leonardtj opened #25 "unable to mount linux hosted samba share"
I have a smb share hosted on ubuntu server when trying to mount I get error 327681. my other shares hosted on windows all work both port 139 and 445 are open and the server doesn't require any login credentials.

[2015-06-03 18:17] bjkluft commented on #20
I use a windows home server 2011 and get the following error:
net::ERR_NAME_NOT_RESOLVED
Please can you help?

[2015-06-03 23:25] scre80 commented on #20
I finally got it to connect to a Win 7 pc. I had to setup a local account and make sure the share was not Hidden.

Will support for Hidden shares and LDAP be coming?

[2015-06-04 00:20] yoichiro commented on #15
@divx118 @dnikkel I have just released the new version 1.1.2 including the code to fix this issue. Could you confirm whether this issue is resolved or not by using the 1.1.2?

[2015-06-04 00:21] rbraby opened #27 "Need method to pass mount options; in particular sec=ntlm"
In general, it would be good to have a method to pass mount options to this extension.  In particular, there are a number of older SMB servers which only support ntlm or ntlmv2 security, which means they need sec=ntlm or sec=ntlm2 as a mount option.

I've encountered this issue using disks shared from an Apple Airport Extreme (802.11N version).

Without sec=ntlm, the error encountered is:
NT_STATU

[2015-06-04 00:22] yoichiro commented on #17
@brycethorup Probably, I can use a new API "chrome.mdns" to scan servers which can talk SMB protocol from the network. I try to implement this feature. Please give me a few weeks...

[2015-06-04 00:22] yoichiro opened #28 "Support Domain Authentication"
As the title. If you want this support, feel free to leave your comment here.

[2015-06-04 00:25] yoichiro commented on #8
@AndreyLavrov Could you confirm the debug console output? Probably, some error occurrd at the time, I guess. You can confirm the output by the following steps:
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-06-04 00:27] yoichiro commented on #14
@mattsjo Did you try to mount your ROUTER???

[2015-06-04 00:34] yoichiro commented on #18
@brycethorup Thank you for the reporting. I have just released the new version to fix this issue. For instance, the diff was... https://github.com/yoichiro/chromeos-filesystem-cifs/pull/21 Could you confirm whether this issue is solved or not by using the new version?

[2015-06-04 00:37] yoichiro commented on #19
@dnikkel Hmm... Sorry, I don't know the reason to cause this issue... Did this situation occur frequently?

[2015-06-04 00:39] yoichiro commented on #20
@scre80 @bjkluft @icebun Thank you for the reporting. In the current version, Domain authentication not supported. I just registered this issue #28. I close this issue.

[2015-06-04 00:39] #20 closed

[2015-06-04 00:41] scre80 commented on #20
Thankyou. Do you have hidden shares logged as well?

[2015-06-04 00:41] yoichiro commented on #22
@to0w1r3d I cannot find the reason, because the information you reported was very little. Could you confirm the debug console log by using the following steps?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-06-04 00:42] yoichiro commented on #25
@leonardtj I have just released the new version 1.1.2. Could you confirm whether this issue occurs again using the 1.1.2?

[2015-06-04 00:47] yoichiro commented on #27
@rbraby I have a question. Does the Apple Airport Extreme support ntlm only? In current version of my app, actually the NTLMv2 is applied, and NTLM(v1) not used. I think that NTLMv1 has a security problem, therefore, I thought that NTLMv1 should not be used... How do you think about that?

[2015-06-04 00:53] yoichiro commented on #20
@scre80 Sorry, what is meaning "hidden"?

[2015-06-04 00:54] dnikkel commented on #15
I'm afraid I'm seeing the same behaviour - when you try to mount a second volume, you still get a small gray pop-up saying "Already mounted" and the volume does not get mounted.

[2015-06-04 01:02] scre80 commented on #20
Any windows device that has a share with a $ at the end, is hidden and needs to be known explicitly. Most enterprises use this to some extent.

Some more information here
https://support.microsoft.com/en-us/kb/314984

[2015-06-04 01:07] dnikkel commented on #19
Yesterday, when I reported the problem, it was happening constantly - as soon as I dismissed the pop up message, another would appear. So, let's say, more than once a minute.  However, right now, I've been streaming for over 10 minutes and it hasn't happened yet.  So it's definitely inconsistent.

[2015-06-04 04:08] rbraby commented on #27
@yoichiro, I think you are correct and the Airport Extreme (at least the older model I have) is only supporting NTLM(v1).  I did some further testing with sec=ntlmv2 and sec=ntlmssp and both failed with a NT_STATUS_LOGON_FAILURE.

I'm sure NTLMv2 and NTLMSSP are more secure, but for backwards compatibility it would be nice for there to be a way to enable the older protocol.

[2015-06-04 05:37] mattsjo commented on #14
Yes.
It's possible to connect USB drives to the router and a samba server makes
it act just like a NAS.
As indicated by the router log entry, the samba server gets the request but
authentication can't be done.

/Mattias
Den 4 jun 2015 2:27 fm skrev "Yoichiro Tanaka" notifications@github.com:

[2015-06-04 10:54] yoichiro commented on #15
@dnikkel Ahh, finally, I could recognize this issue. Actually, this reason is that the shared resource name is not included for checking whether it has already been mounted or not. I intend to fix this issue at the next version.

[2015-06-04 13:14] yoichiro commented on #15
I will release the new version to fix this issue including the diff #29

[2015-06-04 13:21] yoichiro commented on #15
@divx118 @dnikkel I just released 1.1.3. Could you confirm the new version again? Sorry...

[2015-06-04 14:24] AndreyLavrov commented on #8
The following steps are reproducing issue:
1) Install SMB/CIFS app
2) Starting the app
3) Change settings: Keep password = "Yes"
4) Setting values for IP Address, Port, User Name, Password then press "KEEP"
5) Press "Mount"
After step 5 a string for SMB folder was appeared in File Manager but all activity in an activity tracer and a console were stopped.
All other folders in File Manager works fin

[2015-06-04 14:31] AndreyLavrov commented on #28
The possibility to mount a file folder by a domain account is very important.
In real life no one use a file share by a local user account (especially in enterprises with established Active Directory).

[2015-06-04 14:44] AndreyLavrov commented on #10
I think that the name is good.
After this application will work stable then the next one app might have a "DFS" name for connecting real enterprise folders on a File Service cluster that is powered by Windows Servers through domain account from Active Directory.

[2015-06-04 15:09] dnikkel commented on #15
I just tried it out and was able to mount 3 volumes from my NAS with no issues.  Looks good to me!

[2015-06-04 15:11] leonardtj commented on #25
I currently have 1.1.3 and it still won't connect to that share I still get
the same error . please let me know if there is any additional info I can
provide or anything you would like to to try to help you resolve this bug.

[image: --]
Troy Leonard
[image: http://]about.me/leonardtj
http://about.me/leonardtj?promo=email_sig
 Follow me on Google+ https://plus.google.com/+TroyLeonard/
https://www.

[2015-06-04 15:26] AndreyLavrov commented on #28
I wish to be as clear as possible and improve a feature request description.
It is important to implement authentication by domain user account (OpenLDAP and Active Directory) in this application. This is open an posibility to use the app in small companies (aka SMB) without changes in windows infrastructure.
A possibility to connect to a real enterprise folder (DFS) is more valuable but stay out

[2015-06-04 17:52] divx118 commented on #15
Yep, works for me too now. Thanks for the quick solution.

[2015-06-04 17:52] #15 closed

[2015-06-04 21:34] yoichiro commented on #15
@divx118 @dnikkel I'm happy to hear the good result from you. :+1:

[2015-06-05 00:14] yoichiro commented on #27
@rbraby I see. I'll try to support them (LM and NTLNv1). Please give me a few days.

[2015-06-05 03:26] ds679 opened #30 "Not Compatible!?"
Tried to install tonight on my Toshiba CB35-B3340 and received this:

![screenshot 2015-06-04 at 22 25 20](https://cloud.githubusercontent.com/assets/6852706/7998892/a95b6604-0b08-11e5-9023-1637cafbd3f9.png)

[2015-06-05 03:29] ds679 commented on #30
Welp....to answer my own issue (maybe it'll help others).  I had a ChromeOS update that needed to complete first (which would then bring my Chrome Version to 42+).  After updating, worked like a charm - thanks

[2015-06-05 03:55] yoichiro commented on #30
Good. I close this issue. Thanks!

[2015-06-05 03:55] #30 closed

[2015-06-05 04:51] yoichiro commented on #27
Diff to solve this issue: #31. The points are:
- If the server doesn't support NTLMv2, the server should return false as NTLMSSP_NEGOTIATE_NTLM2 flag.
- When the flag value was false, my application sends LMv1 and NTLMv1 responses.

[2015-06-05 04:58] yoichiro commented on #27
@rbraby I have just released the new version 1.1.4 including the code to fix this issue as #31. Could you confirm whether this issue is solved or not on your environment?

[2015-06-05 11:10] yoichiro commented on #25
@leonardtj Could you confirm the debug console output? Probably, some error occurrd at the time, I guess. You can confirm the output by the following steps:
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-06-05 11:15] yoichiro commented on #8
@AndreyLavrov Hmm... Any errors not found in the output above... Sorry, I can't understand the situation... Well, in the next version, I intend to add a new UI to turn on the debug mode.

[2015-06-05 11:17] yoichiro commented on #14
@mattsjo I have released a new version 1.1.4. In the version, the app supports LMv1 and NTLMv1 authentication. Probably, I guess that your router does not support LMv2 and NTLMv2. If my idea is correct, you should success to mount your router. Could you confirm whether you can mount your router with 1.1.4?

[2015-06-05 11:19] yoichiro commented on #19
@dnikkel Hmm... I close this issue. If you have same problem again, please create a new issue to report it to me. Thanks!

[2015-06-05 11:19] #19 closed

[2015-06-05 11:34] AndreyLavrov commented on #8
I have tried to trace SMB app as well as Files app and see no exceptions but one that is described below:
When I clicked to a "mounted" folder in the Files app then exception is fired exactly at the moment of swapping extension handler to Image Loader in the Files app. This exception is suppressed by Files app by a catch and have no console log but new handler for loader is undefined. May be probl

[2015-06-05 11:43] yoichiro commented on #8
@AndreyLavrov Hmm... My SMB app has no dependent other apps/extensions... You should understand it by looking at the manifest.json file: https://github.com/yoichiro/chromeos-filesystem-cifs/blob/master/app/manifest.json

[2015-06-05 13:20] AndreyLavrov opened #32 "Files.app failed to mount a file system"
Steps to reproduce:
1) Install SMB app
2) Launch SMB app
3) Keep settings and set folder properties
4) Press a "MOUNT" button in a SMB app

Picture below was captured after a click on the MOUNT button.
Top-Right: Files.app console
Bottom-Right: SMB console
![smb - after press mount](https://cloud.githubusercontent.com/assets/12710354/8006695/b514451a-0b9e-11e5-87f4-8b5193d88c1d.png)

[2015-06-05 19:13] dnikkel commented on #19
No problem.  The inconsistency is very puzzling, I'll try to include more actionable details if I reopen it.

[2015-06-06 00:06] rbraby commented on #27
I rebooted my chromebook to ensure the extension was updated, and verified that I am running version 1.1.4 by checking chrome://extensions.  Unfortunately, when I try to mount the drive from my airport extreme, I still get NT_STATUS_NOT_IMPLEMENTED and a failure to mount.  I wonder if the airport extreme is failing to properly respond to the NTLM version negotiation.

[2015-06-06 01:22] yoichiro commented on #27
@rbraby I just released the new version 1.1.5. In this version, you can change the log level. After updating it to 1.1.5, click the gear icon, and change the log level to "Trace". Then, try to mount your server. Last, confirm the output log by the following steps:
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools
Probably, you can see the NTLMSSP_

[2015-06-06 03:06] rbraby commented on #27
![screenshot 2015-06-05 at 11 03 37 pm](https://cloud.githubusercontent.com/assets/5756165/8018050/84524da8-0bd7-11e5-80b8-b8076386e188.png)

I'm fairly new to Chrome and it's console logs.  Hopefully I expanded the pieces of the logs that you need.  If not, please let me know and I'll try again.

Thanks,
Ryan

[2015-06-06 06:27] yoichiro commented on #27
@rbraby Were the rows all in the console tab?

[2015-06-06 11:32] yoichiro commented on #32
@AndreyLavrov Which version is the ChromeOS you are using?

[2015-06-06 15:10] hvdwolf commented on #32
Hi,

First: Thanks for this initiative. Great.

I add to this issue as I think I have the same issue. The system is a Western Digital Worldbook. I can connect from Linux and Windows without problem.

SMB app: 1.1.5
System: Toshiba Chromebook 2
ChromeOS:
Versie 43.0.2357.81 (64-bit)
Platform 6946.55.0 (Official Build) stable-channel swanky
Firmware Google_Swanky.5216.238.5

Debug error:
NTLMSSP_NEG

[2015-06-06 15:38] yoichiro commented on #32
@hvdwolf @AndreyLavrov Hmm... Both reports doesn't have the eough information to solve the problem... Change the log level to trace by clicking the gear icon, and get the log output of the Console tab of the DevTools. Then, put the log here.

[2015-06-06 17:04] hvdwolf commented on #32
Sorry, but I can't find that trace level. I do find a setting for "Record heap allocation stack traces" under the Profiler but it doesn't generate extra information.

[2015-06-06 17:35] nemolivier opened #35 "Fail to mount the SMB from my provider box, error 3221225506"
Hello,

My box provider can act as a NAS (both on the internal DD and external DD on USB). It works without problems with smb client on linux / windows / android
Settings are : 192.168.0.254 port 445 login/user
Here is the output :
[code]
Many many thanks for this extension, I've been waiting it for ages and can't thanks you enough for this (it will be better when VLC for chromebook will be out :)

[2015-06-06 21:46] yoichiro commented on #35
@nemolivier I just released a new version 1.1.6. When you update this app to 1.1.6, you can get more detail log output. Could you confirm the output again?

[2015-06-06 21:48] yoichiro commented on #32
@hvdwolf I just released the new version 1.1.6. In this version, I deleted a UI to change the log level, that is, the log output should be displayed as trace level. Could you confirm the output again?

[2015-06-06 21:50] yoichiro commented on #18
@brycethorup I close this issue, because you could not feedback here, that is, I think that this issue was solved. If you have same issue again, you can re-open this issue. Thank you for this reporting.

[2015-06-06 21:50] #18 closed

[2015-06-06 21:53] yoichiro commented on #16
@divx118 Could you confirm the debug console output? You can check it out by the step below:
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-06-06 22:33] nemolivier commented on #35
Here it is, it's the "Trace" log level.

[code]

[2015-06-06 23:00] yoichiro commented on #35
@nemolivier Hmm... You rejected the logon to your smb server, because there was "NT_STATUS_ACCESS_DENIED". I could NOT know the reason, because I can't check the server log of your smb server. You should check the server log, is it possible? If no, I think that this issue woud not be able to fix.

[2015-06-07 02:15] rbraby commented on #27
I noticed version 1.1.7 was out, so I updated to it, and here's the console output from this new version.  The error returned is still NT_STATUS_NOT_IMPLEMENTED.

![screenshot 2015-06-06 at 10 13 35 pm](https://cloud.githubusercontent.com/assets/5756165/8022355/7b621f80-0c99-11e5-9ff9-9a0c3619b252.png)

[2015-06-07 02:21] rbraby commented on #27
I noticed that version 1.1.7 had been released, so I upgraded to it, and tried again.  Here is the console output from that attempt (missing initial Object{type: "getSharedResources", . . .} line).  The error returned is still NT_STATUS_NOT_IMPLEMENTED.
![screenshot 2015-06-06 at 10 18 04 pm](https://cloud.githubusercontent.com/assets/5756165/8022363/586a9916-0c9a-11e5-89a2-caddc1880870.png)

[2015-06-07 04:59] yoichiro commented on #32
@hvdwolf @AndreyLavrov Probably, I could reproduce your situation. I just released a new version 1.1.8 to fix this issue. Could you confirm whether the new version works on your environment or not?

[2015-06-07 05:02] yoichiro commented on #27
@rbraby Sorry, my application does not support servers which don't support EXTENDED_SECURITY. Also, I don't intend to support it in near future.

[2015-06-07 05:02] #27 closed

[2015-06-07 05:04] yoichiro commented on #8
@AndreyLavrov Probably, I could reproduce your situation. I just released a new version 1.1.8. Could you confirm whether the new version works on your environment?

[2015-06-07 07:18] hvdwolf commented on #32
Hi, I just checked with your 1.1.8 version.

Unfortunately it still doesn't work. See below. I removed the password.

Object {type: "getSharedResources", serverName: "192.168.144.140", serverPort: "445", username: "pohd", password: "xxxxxx"}
background.js:6157 Client#login
background.js:6157 connect
background.js:6164 Packet {types_: Types, data_: ArrayBuffer, dataLength_: 47}
background.js:6157 w

[2015-06-07 07:21] nemolivier commented on #35
I've dig in the server settings but can't find any logs :( I've try removing login/password access on the server, but it failed the same way.

[code]

In this log from chrome dev tools there's a lot of « branch » that I don't open (it will make a huge tree, and I can't imagine the time to open them all :)) And I can't find a " save logs" option.
Tell me if you need me to do it.
In the server setti

[2015-06-07 07:45] hvdwolf commented on #32
I also have a Debian linux server which I use as webserver and which currently only has NFS shares.
I quickly setup a samba share and connected.
That works!
Unfortunately, as described above, I still can't connect to my NAS.

[2015-06-07 10:51] hvdwolf commented on #32
Hi,

Some observations.
My NAS has a public share, 2 multi-user shares and 1 specific configuration share.
If I specifiy the ip-address without username and password, I get the popup and option to connect to all 4 shares. Of course I can only connect to the Public share in this case (But this is already a great step forward :) ).
As soon as I specify a username and password I get the errors.
Is it

[2015-06-07 12:11] AndreyLavrov commented on #32
SMB ver. 1.1.8 have solved the issue!
Now I can mount SMB shares on Windows 7 (Standalone) and Windows 2008 R2 (Member).
Files.app is not showing any error now.

[2015-06-07 12:11] #32 closed

[2015-06-07 12:27] hvdwolf opened #40 "Can't connect to server with mixed SMB shares authorizations"
As AndreyLavrov unfortunately closed issue https://github.com/yoichiro/chromeos-filesystem-cifs/issues/32, I open another one.

Please have a look at my 3 last posts in that issue 32 issue.

Edit: Never mind. I copy them here below.

============================================
Hi, I just checked with your 1.1.8 version.

Unfortunately it still doesn't work. See below. I removed the password.

Obj

[2015-06-07 12:28] AndreyLavrov opened #41 "Can not mount folder on Windows 2012 R2"
I have tested SMB ver. 1.1.8 on Windows 7 (Standalone) and Windows 2008 R2 (Member) succesfully.
Unfortunaly the same test was failed on Windows Server 2012 R2 (Member).
SMB app failed when I click "Mount" button with following messages (see picture below):
Top left - Files.app (front-end)
Top right - Files.app (backgroud)
Bottom left - SMB (front-end)
Bottom right - SMB (background)

My Chrome ve

[2015-06-07 12:43] hvdwolf commented on #35
Please have a look at issue https://github.com/yoichiro/chromeos-filesystem-cifs/issues/40 and of the 3 last messages of issue https://github.com/yoichiro/chromeos-filesystem-cifs/issues/32.

Please try without username and password. I bet you have one or more public shares mixed with one or more user/password protected shares.

[2015-06-07 13:00] yoichiro commented on #32
@AndreyLavrov Good. Thank you for the reporting.

[2015-06-07 13:02] yoichiro commented on #40
@hvdwolf I can't know the reason of "NT_STATUS_ACCESS_DENIED". As the error name, you rejected to connect from your server. You should check the server log of your server.

[2015-06-07 13:05] yoichiro commented on #41
@AndreyLavrov Hmm, I guess that your Windows 2012 server disconnected the connection immediately without returning any response. That is, my application can't know the reason... Could you check the server's log of Windows 2012 server side?

[2015-06-07 13:08] yoichiro commented on #35
@hvdwolf Without username and password? What's meaning?

[2015-06-07 14:15] hvdwolf commented on #40
Below my smbd.log. All the preallocate errors are from the startup or restart of nmbd/smbd

There are several authentication methods for samba which are set in the smb.conf
I had:
auth methods = guest, sam_ignoredomain, winbind:ntdomain

I changed that to:
auth methods = guest, sam_ignoredomain, winbind:ntdomain, ntdomain

Look at line "2015/06/07 16:02:25,  0".  If there is no domain, it can't be

[2015-06-07 14:19] hvdwolf commented on #35
If you don't specify a username and password it does a real browse for shared services. When specifying a username/password I assume you get a mixed answer.

As mentioned in "my issue"  https://github.com/yoichiro/chromeos-filesystem-cifs/issues/40 I get a response with possible shares if I leave the username and password empty.
If I do specify a username and password I get the error.

[2015-06-07 14:27] nikjft opened #42 "Cannot connect to Mac running Windows File Sharing"
I cannot connect from Chromebook to Mac with Windows File Sharing (Samba) turned on. I get a not-authorized error, number 3221225506.

Running MacOS X version 10.6.8, smbd version "3.0.28a-apple".

Connections from Windows work fine, as do connections from ES File Explorer on Android - so I know the login and password is correct.

## smbd server log from Mac:

[2015/06/06 21:36:42, 0, pid=43938] /

[2015-06-07 15:57] AndreyLavrov commented on #41
I have enabled all windows logs (services logs included) and saved all events.
Any access (success or deny) from a test Windows client to server SMB folder is logged but when I mounted the same SMB folder from Chromebook then event were not logged.
I captured a network traffic from Chromebook (192.168.1.101) to Windows Server (192.168.1.5) (see picture below). May be it helps.
![network traffic](h

[2015-06-07 20:20] nemolivier commented on #35
I'm not shure my server provide multiple settings shares (but it could be used internally, without allowing me to know).
But as I wrote above, I've tried allowing all access (no login/password but you need to be on the local network). Logs are above, same error.

[2015-06-07 22:22] dnikkel opened #43 "Unable to cope with sleeping NAS"
I'm sure if this is as issue with the SMB provider, or somewhere else.  My Synology NAS spins down after a certain period of inactivity.  On Windows and OSX, the OS deals gracefully with this situation, waiting will the NAS spins up and establishing the connection.  Later, if it spins down due to inactivity, it will spin back up when an attempt is made to access the share.  Neither of these operat

[2015-06-07 23:46] bluecrema opened #44 "Mapping Share to WinVista Box"
I am struggling to map a share to a windows vista box (yes I know why vista .. long story).  I keep getting the same error (2147483653: UNKNOWN).  Windows Log shows that authentication is successful.  I was able to map successfully to a Windows 7 box I have with no problem.

Hoping you can assist.

Chrome OS:
Version 44.0.2403.33 beta (64-bit)
Platform 7077.27.0 (Official Build) beta-channel swank

[2015-06-08 05:28] AndreyLavrov commented on #42
SMB/CIFS does not support domain credentials yet.
Are you sure that you do not use "admin" account from your domain instead of a local account?
Please, create a dedicated local account on your Mac for testing purposes.

[2015-06-08 12:41] VitaZalud opened #45 "Mounting of remote folder results in UNKNOWN"
Hallo, I have similar issue like https://github.com/yoichiro/chromeos-filesystem-cifs/issues/16 is.

When, I try to connect my shared folder, it results with 2147483653: UNKNOWN, which is exactly the same statement like in #16

My Chrmoe OS is 43
Version 43.0.2357.81
Platform 6946.55.0 (Official Build) stable-channel nyan_blaze
Firmware Google_Nyan_Blaze.5771.63.0

Console log is here (password st

[2015-06-08 12:48] nemolivier commented on #35
I haven't close this! Have-I? I'm not used to Github...

[2015-06-08 13:11] hvdwolf commented on #35
I think you pressed "Comment and Close" instead of "Comment". You can reopen it as well.

With regard to "but you need to be on the local network": I assume your firewall is closed for port 445 and 139. You have to be careful whether you want to expose your shares to the outside world.

[2015-06-08 13:23] nemolivier commented on #35
Thanks, do you want me to re-open it or you is it closed for you ?

[2015-06-08 13:26] hvdwolf commented on #35
If your issue is satisfactory solved and no users with the same issue are using the same ticket (not in this case), you can leave it closed.

[2015-06-08 13:45] nemolivier commented on #35
My issue is not solved... Since it's the first time I can't connect to this SMB share, I may keep it open.

[2015-06-08 17:41] divx118 commented on #16
@yoichiro Sorry, been very busy. Below is the console output.

[code]

[2015-06-08 20:30] mattsjo commented on #14
Now on version 1.1.8 and the error message is "Extended security not supported". Any chance of supporting normal security? :-)

[2015-06-08 20:30] mattsjo commented on #14
Sorry, pressed the wrong button...

[2015-06-08 22:50] ghost commented on #18
@yoichiro sorry for the delay. It seems to be handling it correctly now. No more hang-ups. Thanks.

[2015-06-08 23:28] yoichiro commented on #18
@brycethorup Good. :)

[2015-06-09 00:49] stoniu opened #46 "Extended security not supported"
Hello,

This is real great addon for ChromeOS but sadly I'm getting this message when I'm trying to connect to my Asus RT-N66U router NAS. My version is 1.1.8

![screenshot 2015-06-08 at 8 21 20 pm](https://cloud.githubusercontent.com/assets/12805524/8048413/00702bbe-0e1f-11e5-976a-84a2643d2fa1.png)

Thank you.

[2015-06-09 00:56] yoichiro commented on #43
@dnikkel I could reproduce this issue. I intend to add the re-connect logic. The diff has already created at #47, and it will be released at the next version.

[2015-06-09 01:23] yoichiro commented on #43
@dnikkel The new version 1.1.9 has been released. Could you confirm whether this issue is fixed or not by using 1.1.9?

[2015-06-09 01:27] yoichiro opened #48 "Support Un-extended security connection"
As the title. If your server doesn't support the "Extended Security", you will face the error message "Extended security not supported". Currently, I intend not to support servers which don't support the extended security. But, if you want to mount such server, please leave a comment here. When many comments posted, I'll implement this feature.

[2015-06-09 01:30] yoichiro commented on #46
@stoniu Unfortunately, I don't intend to support servers which don't support the Extended Security, because I guess that the number of such servers is very little. But, I created a ticker #48. If many comments posted against the ticket, I'll fix this issue. Thank you for the reporting.

[2015-06-09 01:30] #46 closed

[2015-06-09 08:38] hvdwolf commented on #48
This has to do with the security settings in the smb.conf
You get this error if you set "security = share" (deprecated as of samba >3.0).

If you set the security to  "security = user", which is the default anyway, you will not get this error message.

[2015-06-09 08:40] VitaZalud commented on #28
I vote for this feature. From admin point of view it will be much easier to manage access to the shared folders through domain administration.

[2015-06-09 10:41] AndreyLavrov commented on #8
SMB ver. 1.1.8 have solved the issue!
Now I can unmount SMB shares on Windows 7 (Standalone) and Windows 2008 R2 (Member).
P.S. When I unmount SMB folder there are no errors in Files.app but there is same console output for SMB's background.js (see picture below). All mounting/unmounting procedures are working well for Windows  7 / Windows 2008 R2 folders. I think that issue could be closed.
![smb

[2015-06-09 10:41] #8 closed

[2015-06-09 11:04] yoichiro commented on #8
@AndreyLavrov Good. :)

[2015-06-09 11:46] AndreyLavrov commented on #41
I carefully inspected a configuration for Datacenter and found that CIFS protocol was been disabled by a corporate security policy however SMB v.1 was been enabled and monitored by management system successfully.
After that I enabled CIFS in my test environment and successfully mount SMB folder on Windows Server 2012 R2.
It is great that SMB/CIFS app can work with Windows 2012 R2 and I think that

[2015-06-09 11:46] #41 closed

[2015-06-09 11:48] yoichiro commented on #45
[code]

@VitaZalud The current version doesn't support Domain Authentication. Please see #28. I close this issue.

[2015-06-09 11:48] #45 closed

[2015-06-09 12:20] yoichiro commented on #14
@mattsjo The current version doesn't support the unextended security server. Please see #48. I close this issue. Thank you for the reporting.

[2015-06-09 12:20] #14 closed

[2015-06-09 22:19] p-chom commented on #48
I also have this issue when trying to connect to an Apple Time Capsule. I can't change any of the SMB security settings on the Time Capsule (except password) so this extension can't connect to it. It throws the same "Extended security not supported" error that other users report. Is there any way to disable this requirement? Even just for local network shares?

[2015-06-10 00:25] yoichiro commented on #28
I just investigated about NT Domain and Active Directory Domain a bit. I cannot understand about ADC and Kerberos yet, but I understood that my application should send the Domain Name to the SMB server within the NTLM Response (currently, "?" is specified as the Domain Name), then the SMB server will delegate the authentication to the Domain Controller server, if the SMB server joined to the Domai

[2015-06-10 06:33] AndreyLavrov commented on #28
Standalone client can authenticate on a domain member by NTLM or Kerberos protocols in theory. In a real world a standalone client use NTLM v2 protocol only because implementation of Kerberos protocol on Windows member server require a ticket (TGT) from the client (unfortunately  a standalone client has no TGT from a domain controller) and NTLM v1 protocol was disabled by default since Windows 200

[2015-06-10 07:04] AndreyLavrov commented on #28
Kerberos protocol was implemented in Chrome many years ago and works fine in Windows,  Mac and Linux versions. However, Kerberos protocol was disabled by default in Chrome OS. I think that your should carefully understand the meanings of this design decision therefore you should talk with Chromium project leaders about this question definitely.
If you decide to implement Kerberos protocol on Chrom

[2015-06-10 11:28] yoichiro commented on #28
@AndreyLavrov Thank you for the advices! Well, if I want to support the Windows Domain authentication against the standalone-client (not the domain member), is the following code correct?

https://github.com/yoichiro/chromeos-filesystem-cifs/pull/49/files#diff-b05ec7768eb22dcf99690df98cbc73c0R66

In the current version, LMv2 Hash and NTLMv2 Hash have a "?" fixed character as the Domain name.  But,

[2015-06-10 17:28] AndreyLavrov commented on #28
I have tested SMB ver.1.2.0 with domain account credentials.
SMB/CIFS application can mount folders on the following OSes:
1) Windows Server 2008 R2 (EE SP1 x64) (domain member)
2) Windows Server 2012 R2 (DE) (domain member)

Account type:
Domain user (standard user account)

Domain type:
Active Directory (Forest level: Windows 2008 R2)

![mount](https://cloud.githubusercontent.com/assets/12710354

[2015-06-10 18:19] bjkluft commented on #28
Where do I find/install this version 1.2.0?
I have the stable ChromeOS version 43.0.2357.81

[2015-06-10 19:29] dnikkel commented on #43
With 1.1.9, I'm still having the shares disconnected.  This is what I see in the log now:

background.js:6175 net::ERR_INTERNET_DISCONNECTEDDebug.error @ background.js:6175
background.js:6176 console.trace()Debug.error @ background.js:6176
background.js:6175 resume failed: net::ERR_INTERNET_DISCONNECTEDDebug.error @ background.js:6175
background.js:6176 console.trace()Debug.error @ background.js:6

[2015-06-10 21:41] yoichiro commented on #28
@AndreyLavrov Thank you for your cooperation! It seems that the version 1.2.0 can work on your domain environment. For example, if you don't fill in the domain name on the login dialog, does the mounting fail? If yes, I guess that the 1.2.0 could have an ability to mount the server which the domain authentication is necessary...

[2015-06-10 21:50] yoichiro commented on #28
@bjkluft If you want to test the 1.2.0, you need to download the branch named "support_domain_authentication" as zip file to your Chromebook:
1. Download Zip file: http://github.com/yoichiro/chromeos-filesystem-cifs/archive/support_domain_authentication.zip to your Chromebook.
2. Extract the zip file.
3. Open the page: chrome://extensions/
4. Check the "Develop mode" checkbox.
5. Load the unpackag

[2015-06-10 23:04] yoichiro commented on #43
@dnikkel Was the connection actually disconnected?

[2015-06-11 06:16] AndreyLavrov opened #50 "Files.app was crushed after write operations in LocalUser mode"
SMB/CIFS app (ver. 1.2.0) can succesfully mount SMB folders for Domain Users Accounts as well as for Local Users Accounts.
In a folder which is mounted for domain user account all works fine.
If you try to delete and/or edit files in a folder  which is mounted for local user account then tose operations are completed in most cases but Files.app will crushed and Error Message will appeare:

SMB/CIF

[2015-06-11 07:04] AndreyLavrov opened #51 "FSP key which is included into manifest.json is not supported"
Step to reproduce:
1) Install SMB/CIFS ver.1.2.0
2) Look at the "Extensions" tab in Chrome browser.

![manifest warning](https://cloud.githubusercontent.com/assets/12710354/8101592/42f263cc-1021-11e5-8a31-32267666a317.png)

[2015-06-11 08:27] AndreyLavrov commented on #50
Steps to reproduce:
1) Mount SMB folder by local user account in SMB/CIFS app
2) Tap SMB folder in Files app (some errors in Files.app occur (see below) but all working fine for a user)
3) (On Chromebook) Create/Edit/Delete a single file. All works fine.
4) (On Windows Client) Create a subfolder "Images" and copy 9 images into it. All works fine but the folder did not refreshed on Chromebook.
5) (

[2015-06-11 11:24] bjkluft commented on #28
Hi,

I just downloaded the zip and tried to install but I get the following error:

Failed to load extension from: ~/Downloads/chromeos-filesystem-cifs-support_domain_authentication/app
Could not load background script 'bower_components/cryptojslib/components/core.js'.

What to do?

[2015-06-11 12:27] yoichiro commented on #28
@bjkluft Sorry, I forgot that the building process is necessary...

[2015-06-11 12:32] AndreyLavrov commented on #28
I have tested SMB ver.1.2.0 with local user account and described results here:
https://github.com/yoichiro/chromeos-filesystem-cifs/issues/50

[2015-06-11 12:34] yoichiro commented on #28
@AndreyLavrov I'm just reading #50. Big thanks! I intend to confirm the #50 issue soon.

[2015-06-11 12:37] yoichiro commented on #51
@AndreyLavrov Which version is your ChromeOS? If 43, its manifest key is not supported yet, but it is supported from 44+, I think.

[2015-06-11 12:38] AndreyLavrov commented on #51
## My Chrome version:

Version 43.0.2357.81 (64-bit)
Platform 6946.55.0 (Official Build) stable-channel monroe
Firmware Google_Monroe.4921.17.0

[2015-06-11 12:44] yoichiro commented on #50
@AndreyLavrov Well, I could reproduce this issue. I will investigate this reason and fix this.

[2015-06-11 13:31] yoichiro commented on #50
@AndreyLavrov I just fixed this issue at https://github.com/yoichiro/chromeos-filesystem-cifs/commit/a6f1dab587580c481a81fc726aca7c448f197222. Could you check whether this issue is fixed by the diff?

[2015-06-11 13:34] yoichiro commented on #51
@AndreyLavrov Thank you for the checking. Yes, the warning message will not be shown after you update your ChromeOS to the version 44 (My ChromeOS Beta Channel 44 doesn't show the warning message). I close this issue.

[2015-06-11 13:34] #51 closed

[2015-06-11 14:54] yoichiro commented on #10
Probably, the Domain Authentication can be supported at the next version. Thus, I intend to change the name to "File System for SMB/CIFS and Windows(R)"...

[2015-06-11 17:02] dnikkel commented on #43
As far as I can tell, the network connection was fine.  I think every time I've had trouble after the NAS has spun down, I always see the internet disconnected error.  I do believe the situation has changed with 1.1.9.  My shares are no longer being dismounted as a result of the NAS being asleep.  However, it still seems unable to continue once the NAS has spun back up.  Last night, I did not shut

[2015-06-11 17:03] dnikkel commented on #43
I also meant to add, I had to reboot the Chromebox to file services to respond again.

[2015-06-11 18:36] AndreyLavrov commented on #50
Great work!
SMB ver.1.2.1 don't crush Files.app!
If a user don't look into a console then user experience is good (see picture 1).

![5 - final test complete](https://cloud.githubusercontent.com/assets/12710354/8115099/bf217220-1081-11e5-8585-0dfb19d8dc29.png)

SMB app passed "delete images test" successfully but have many errors in SMB background console as well as Files.app console (see pictures

[2015-06-11 18:43] AndreyLavrov opened #52 "SMB app could refresh file list periodically in a current folder."
While folder used concurrently then chromebook's users don't see changes from other users.
Windows Explorer updates file list in a current folder periodically to improve user experience. I think SMB app could do the same thing for SMB folders.

[2015-06-11 21:55] yoichiro commented on #50
@AndreyLavrov Big thanks! I will release the new version as 1.2.0 today.

[2015-06-11 21:59] yoichiro commented on #52
@AndreyLavrov Yes, I already know this behavior. Well, the current version continues to have a file list permanently, and doesn't have an expiration mechanism. Also, the Files app doesn't have a UI to refresh/reload the file list. Well, I try to add the expiration logic. Please give me a few days to implement that.

[2015-06-12 00:28] yoichiro commented on #10
I have just released the new version 1.2.0. At the version, I changed the name to "File System for SMB/CIFS and Windows(R)". Thank you for commenting nice advices! I close this issue.

[2015-06-12 00:28] #10 closed

[2015-06-12 00:30] yoichiro commented on #28
I have just released the new version 1.2.0 including supporting Domain authentication with NTLMv2 authentication. If you have some problem after updating to 1.2.0 and trying to logon to your server with the domain auth, feel free to reopen this issue and leave a comment of the problem here.

[2015-06-12 00:30] #28 closed

[2015-06-12 00:32] yoichiro commented on #50
@AndreyLavrov I have just released the version 1.2.0. If this issue is reproduced at 1.2.0, please reopen this issue. Thank you for this reporting!

[2015-06-12 00:32] #50 closed

[2015-06-12 00:33] yoichiro commented on #43
@dnikkel I have just released the new version 1.2.0. In this version, I modified the re-connecting logic. Could you confirm whether this issue is reproduced or not with 1.2.0 on your environment?

[2015-06-12 03:25] dnikkel commented on #43
I'm seeing change again with 1.2.0.  I still get similar errors when the NAS spins down, but I no longer have to reboot my Chromebox to be able to remount the shares.  Here's what I have in my log now...

resume - start
background.js:6157 Client#login
background.js:6171 Domain name not specified. '?' will be applied.
background.js:6157 connect
background.js:6157 Client#login
background.js:6171 Dom

[2015-06-12 06:49] AndreyLavrov opened #53 "SMB app could change its notification about sharing access violation."
When many users open then same Microsoft Word document from a SMB folder then they see a following things:
1) Users from Windows PC have not any notifications and can read or write text without errors (yes, they are erase text from other users).
2) Users from Chromebook have an error message from SMB app and can not write text even if other users only read this document (see picture below).

This

[2015-06-12 07:47] KevinBLT commented on #17
Yes, I and I think many others (especially users who don't understand anything about IP's etc)
would really appreciate this!
A big thank you for your great work! :-)

[2015-06-13 07:32] bjkluft commented on #28
Hello Yoichiro,

I don't know what I'm doing wrong but I still can't mount to my windows server. I get the following error:
2147483653: UNKNOWN with the following settings:
![screenshot 2015-06-13 at 9 31 15 am](https://cloud.githubusercontent.com/assets/12735834/8143473/f7e8fdb6-11ae-11e5-8a95-e05b3c5abcc3.png)

Can somebody help me with this? Still getting the errors....

[2015-06-13 23:21] yoichiro commented on #48
I intend to release a new version including the following authentications:
- For "share" mode.
- For "un-extended security" and "challenge-response".

The diff for them is #54.

[2015-06-13 23:34] yoichiro commented on #48
I just have released the new version 1.3.0 including codes to fix this issue.

[2015-06-14 01:33] stoniu commented on #48
Thank you very much for this fix man! I was waiting for it...
You are a genius!

[2015-06-14 02:31] yoichiro commented on #48
@stoniu Haha, thanks.

[2015-06-14 02:31] yoichiro commented on #48
I close this issue.

[2015-06-14 02:31] #48 closed

[2015-06-15 05:04] yoichiro commented on #17
I have just released a new version 1.4.0 including a new feature to search SMB servers with mDNS. I close this issue.

[2015-06-15 05:04] #17 closed

[2015-06-15 11:07] yoichiro commented on #13
@wolfchimneyrock I close this issue, because you didn't provide enough information to solve this issue. Sorry, you can re-open this issue, if you get other information. And, try the latest version. Thank you for the reporting.

[2015-06-15 11:07] #13 closed

[2015-06-15 11:08] yoichiro commented on #16
@divx118 Is this issue reproduced with the latest version? I already modified many logics...

[2015-06-15 11:09] yoichiro commented on #22
@to0w1r3d I close this issue, because you didn't provide enough information to solve this issue. You can re-open this, if you get same issue with the latest version. Thank you for the reporting.

[2015-06-15 11:09] #22 closed

[2015-06-15 11:11] yoichiro commented on #42
@nikjft Is this issue reproduced with the latest version? I already modified many logics...

[2015-06-15 11:13] yoichiro commented on #40
@hvdwolf I have already released the version including supporting "share" mode and etc. Could you confirm whether you can reproduce this issue with the latest version?

[2015-06-15 11:14] yoichiro commented on #44
@bluecrema Could you confirm whether you can reproduce this issue with the latest version?

[2015-06-15 11:18] yoichiro commented on #53
@AndreyLavrov Hmm... Well, I thought that this issue will occur, because the current version doesn't support all commands regarding the "File locking". Yes, probably, I have to implement the logic to lock the file before opening and etc...

[2015-06-15 12:20] wolfchimneyrock commented on #13
Sorry, for not replying.  The newer version works perfectly.

On Mon, Jun 15, 2015 at 7:07 AM, Yoichiro Tanaka notifications@github.com
wrote:

[2015-06-15 12:56] yoichiro commented on #13
@wolfchimneyrock Oh, it's a good news to me. :)

[2015-06-15 14:32] nikjft commented on #42
Same result with latest version from chrome store.
On Jun 15, 2015 5:11 AM, "Yoichiro Tanaka" notifications@github.com wrote:

[2015-06-15 19:33] mattsjo commented on #14
Just to let everyone know... It now works! (tested on release 1.4.0)
You have to have guest mode enabled (no password required) otherwise this error is displayed:
2147483653 UNKNOWN

There is no error in the router log.

Thanks!

[2015-06-15 20:31] yoichiro commented on #42
@nikjft Could you give me the background page log when you use the latest version?

[2015-06-16 00:27] yoichiro commented on #52
@AndreyLavrov Well, I was mis-understanding. At least, my app reloads a file list everytime. when some directory is selected. That is, if a new file was added into a folder, when the user selects other folder and re-selects the folder again, the new file will be shown. However, if the user doesn't operate this step, the new file cannot be shown.

I guess that this issue cannot be solved without im

[2015-06-16 00:52] yoichiro commented on #52
@AndreyLavrov I file this issue to the crbug: https://code.google.com/p/chromium/issues/detail?id=500775

[2015-06-16 02:51] bluecrema commented on #44
@yoichiro Thanks for looking in to this.

I am updated to 1.4.0 now and I still get the same error 2147483653: UNKNOWN

Here is my console log:

background.js:6157 Object {type: "getSharedResources", serverName: "20.0.0.14", serverPort: "445", username: "mike", password: "XXXXXXXX"}
background.js:6157 Client#login
background.js:6171 Domain name not specified. '?' will be applied.
background.js:615

[2015-06-16 07:56] magic-k commented on #16
As i have the same problem with my DS214play (still with 1.4), it would probably be helpful, if we would report, what we configured on the DS and what we entered into the Chrome-Plugin.
Workgroup is "WORKGROUP"
max. protocol is Samba3 (tried Samba2 also)
encryption is "automatic"
local master browser is on
Thats it. I have a lot of shares, the user ha red/write access to all of them. No WINS, no D

[2015-06-16 11:07] yoichiro commented on #16
@magic-k Haha, thank you. Well, I already added the logic to output more log to the console tab of DevTools. Could you paste the log here when this issue was reproduced again?

[2015-06-16 11:55] yoichiro commented on #52
I received a comment against the filed issue above. In Dev Channel of ChromeOS, three new APIs were added. Probably, I will be able to fix this issue, but I don't know how to use them... I'm investigating the way to use them now.

[2015-06-16 17:09] dnikkel commented on #16
@magic-k, here's the corresponding configuration for me:

Workgroup is "NIKKEL"
max. protocol is "SMB 1"
encryption is "automatic" (it's actually grayed out for me)
local master browser is NOT enabled (actually, none of the advanced options are selected in my case)

In the Chrome Dialog i entered:
Server: 192.168.1.229
Port: 445
User: dave
Password: xxxxxxx

Hope this helps.

[2015-06-16 17:25] divx118 commented on #16
@yoichiro Sorry, been very busy lately. It is still an issue. Here is the console log http://pastebin.com/7SrtaZ55 . Also tried all the SMB protocols. Same issue for smb 1,2,2+large mtu and 3. The log is with protocol smb 2 + large mtu which I normally use for all my shares. Also the ones I have on a ubuntu machine.

[2015-06-16 18:07] magic-k commented on #16
Here is my log, settings are described in my previous post
background.js:6157 Object {type: "getSharedResources", serverName: "192.168.2.3", serverPort: "445", username: "magick", password: "xxxxxxx"…}
background.js:6157 Client#login
background.js:6157 connect
background.js:6164 Packet {types_: Types, data_: ArrayBuffer, dataLength_: 47}
background.js:6157 writePacket
background.js:6157 readPacket

[2015-06-16 18:11] divx118 commented on #16
@magic-k I hope that isn't your real password in the first line, else change it to some `xxxx`

[2015-06-16 23:47] nikjft commented on #42
Background page:

Object {type: "getSharedResources", serverName: "10.20.30.44", serverPort: "445", username: "user", password: "password"}
Client#login
Domain name not specified. '?' will be applied.
connect
Packet {types_: Types, data_: ArrayBuffer, dataLength_: 47}
writePacket
readPacket
_readPacketSize
_readPacketSize - 2
readPacket: 254
CAP_EXTENDED_SECURITY: true
CAP_COMPRESSED_DATA: false
C

[2015-06-17 00:21] yoichiro commented on #16
Hmm... The error code 2147483653 is 0x80000005, and it seems that it means "STATUS_BUFFER_OVERFLOW". I try to find the solution to solve this issue...

I found the typical cause: The file name is too long...
https://community.dynatrace.com/community/display/TTA122/SMB+Status+Error

In addition, the jCIFS code ignores the value 0x80000005, that is, the code recognizes that 0x80000005 is same as 0 (

[2015-06-17 00:48] yoichiro commented on #16
I created the code to fix this issue: #57, and will release a new version including the diff.

[2015-06-17 00:53] yoichiro commented on #16
@divx118 I just released a new version 1.4.1 including the diff above. Could you confirm whether the latest version can work on your environment?

[2015-06-17 01:45] lingramo commented on #16
Version 1.4.1 prevented the error 2147483653 on trying to connect to a windows server 2008 R2 file server, however now when you click on "Mount" the application says "attempting to mount intance" and then the "Mount" button becomes un-clickable.
![screenshot 2015-06-17 at 11 42 03 am](https://cloud.githubusercontent.com/assets/12928845/8198174/46feffb0-14e6-11e5-961b-fb277716d731.png)

[2015-06-17 11:37] yoichiro commented on #16
Hmm... I need to know all bytes of the response which has the error code. I'll release a new version to debug this issue...

[2015-06-17 12:03] yoichiro commented on #16
@divx118 @lingramo I have just released 1.4.2. You should be able to get like the following debug log in the console tab of the DevTools:

[code]

This is a packet bytes of a normal response of the DceRpcNetEnumShareAllResponse. I want to compare above and yours.

[2015-06-17 13:18] yoichiro commented on #25
@leonardtj I close this issue, because you didn't provide enough information to me. You can reopen this issue when you provide some information by the steps above. Thank you for the reporting.

[2015-06-17 13:18] #25 closed

[2015-06-17 16:59] magic-k commented on #16
This is mine
readPacket: 1080
background.js:6167 FF 53 4D 42 25 05 00 00 80 88 03 C8 00 00 00 00
00 00 00 00 00 00 00 00 51 7A 01 00 F9 13 07 00
0A 00 00 00 04 00 00 00 00 38 00 00 00 00 04 38
00 00 00 00 00 01 04 00 05 00 02 03 10 00 00 00
30 05 00 00 02 00 00 00 18 05 00 00 00 00 00 00
01 00 00 00 01 00 00 00 08 00 02 00 0E 00 00 00
0C 00 02 00 0E 00 00 00 10 00 02 00 00 00 00 00
14 00 02 00 18

[2015-06-17 17:20] divx118 commented on #16
And here you go:

[code]

[2015-06-17 20:59] cottonwool opened #59 "Can't connect to Win7 share since 1.41"
Yesterday 16 June I could connect to a share on my Windows 7 Ultimate PC.
It worked well with a choice of shares offered when the connection was made.
However, today I get
net::ERR_CONNECTION_TIMED_OUT
every time.

I am using the host name and port 445 with no domain name needed.

What can I do to generate some useful debug from my chromebook?
I have limited skills but I can run Wireshark on my PC

[2015-06-18 00:10] yoichiro commented on #59
@cottonwool Hmm... Could you give me the debug log on the console tab of the DevTools by the steps: https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-06-18 01:12] cottonwool commented on #59
Console tab having tried a few times with machine name "rombald" and IP address. I've obfuscated the password as ****

background.js:6160 Object {type: "getSharedResources", serverName: "rombald", serverPort: "445", username: "mark", password: "***_"…}domainName: ""password: "**__"serverName: "rombald"serverPort: "445"type: "getSharedResources"username: "mark"**proto**: Object
background.js:6160 C

[2015-06-18 01:41] lingramo commented on #16
And mine....
readPacket: 2104
FF 53 4D 42 25 05 00 00 80 98 03 C8 00 00 00 00
00 00 00 00 00 00 00 00 04 90 04 00 00 18 07 00
0A 00 00 00 04 00 00 00 00 38 00 00 00 00 04 38
04 00 00 00 00 01 08 00 00 00 00 00 00 00 00 00
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
00 00 00 00 00 00 00 00 00 00 00 0

[2015-06-18 05:15] bluecrema commented on #44
@yoichiro I saw the update to 1.4.2 and updated and the issue is resolved now.  I am able to map to my Vista drives now.  GREAT JOB!!! Thanks for this great extension!

[2015-06-18 05:15] #44 closed

[2015-06-18 06:09] petekl opened #60 "Can't save files using the "save as" dialog box"
When I click on a file from a website (e.g. a pdf file) and try to download it to a cifs folder, the download fails with a "Failed - Download error" message.  I have no problem saving the same file to either Drive or local storage.  Once downloaded to either Drive or local storage, I can easily transfer the file to a cifs folder using the "Files" application.

This only seems to be an issue when I

[2015-06-18 14:14] KevinBLT opened #61 "Mounting a section "Network" (or similar) to the Files app and show the search results as folders"
Hello,

I think it would be easier for many users to see a section "Network" on the left panel of the Files.app.
When selecting it, you could show the search results as folders and when clicking on them open its content or request the login (but then ask for saving the login data).

This would grant similar behaviour to this extension as expected from other operating systems.

Greets
Kevin

[2015-06-18 16:01] layerzerolabs opened #62 "How to connect to a specific share like \\server\share?"
Hi,

I have a Linux box serving up Samba shares and I'm trying to connect to a share using the chrome extension (on a chromebook). There's nowhere to put the share name, just the server IP. This confuses me as in my experience (and in all the samba documentation) you have to specify a share. (i.e. \\server\share). And since different shares have different logins I am stuck as to how to authenticat

[2015-06-19 00:41] JMAP2014 opened #63 "Connecting to Enterprise Windows Share via Kerberos"
When attempting to connect with either a individual user or Domain account we experience a login attempt failure error. Authentication is via Kerberos.

[2015-06-19 00:56] yoichiro commented on #63
@JMAP2014 The Kerberos authentication is not implemented yet. Also, I don't have any plan.

[2015-06-19 01:02] JMAP2014 commented on #63
Appreciate the quick response on this one Yoichiro.

You mention initially that you have not implemented YET but then go on to say you dont have any plan. Does this mean you may at some point and just need to work through other priorities prior?

I work along side Colin Jones (who you may have seen commenting to you on G+) and our organisation see's great potential in the work your doing, to the p

[2015-06-19 17:54] hvdwolf commented on #40
Hi, I'm sorry. I completely missed the mail notification.

It works fine now. No matter whether I configure my server for "security = share" (deprecated) or "security = user" (default), I can connect.

[2015-06-19 17:58] hvdwolf commented on #40
However, looking back at the the title of my issue: The mixed shares still don't work.
If I connect only on ip address (and port), the SMB app shows all available shares but I can only connect to the public ones.
When I add my username/password (for the protected shares) I still get the NT_STATUS_LOGON_FAILURE

[2015-06-22 00:32] yoichiro commented on #63
@JMAP2014 Yes, I know. Of course, I already understand about the big possibility of supporting of Windows Domain authentication with Kerberos. However, I don't know the detail of the Kerberos protocol. And, I don't have any Windows Domain environment and Samba4 ActiveDirectory environment in my home. Actually, I couldn't test whether my NTLNv2 authentication implementation works or not with my env

[2015-06-22 02:21] JMAP2014 commented on #63
Yoichiro - I have spoken to Colin about your communications and we both, again, appreciate all your efforts to get things to this point.

We will see what resources we can provide to assist but I believe this is going to provide limited benefit as your need to see what is going on behind the scenes - this is information that wont be able to be released.

I did see there was a comment by someone on

[2015-06-22 12:23] armgong opened #64 "samsung chromebook2 13 mount ok,but some file size is negative"
samsung chromebook2 13 mount  linux samba ok, but some file size is negative.  my chromeos version

version 43.0.2357.125
platform 6946.58.0 (Official Build) stable-channel peach_pi-freon
firmware Google_Peach_Pi.4482.94.0

in the screenshot , console file size is mount use divx118/cifs it show right size ,but in file.app some file size is wrong
![screenshot 2015-06-22 at 20 18 17](https://cloud.g

[2015-06-23 11:12] koentav commented on #16
If it's any help, here's mine with the same 'offset is out of the bounds' error

readPacket: 1080
FF 53 4D 42 25 05 00 00 80 88 03 C8 00 00 00 00
00 00 00 00 00 00 00 00 68 5A 06 00 5B 3E 07 00
0A 00 00 00 04 00 00 00 00 38 00 00 00 00 04 38
00 00 00 00 00 01 04 00 05 00 02 03 10 00 00 00
4C 05 00 00 02 00 00 00 34 05 00 00 00 00 00 00
01 00 00 00 01 00 00 00 08 00 02 00 0E 00 00 00
0C 00 02 00 0E

[2015-06-23 15:42] simmondp opened #66 "Does not connect - just sits there"
This is trying to connect to a fileserver share on a Windows 7 desktop
IPAddress: 192.1682.34
Port 445
Username: Paul
Password: <correct username>
Domain name: DROVECREST (as set on the WORKGROUP on the PC)

Chromebook is an Acer C720

background.js:6160 Object
background.js:6160 Client#login
background.js:6160 connect
background.js:6167 Packet
background.js:6160 writePacket
background.js:6160 rea

[2015-06-25 22:06] yoichiro commented on #66
@simmondp Finally, I could reproduce this issue on my environment. I will be able to fix this issue.

[2015-06-25 22:09] yoichiro commented on #16
Finally, I could reproduce this issue on my environment. I will be able to fix this issue.

[2015-06-25 22:11] yoichiro commented on #66
@simmondp This issue is duplicate of #16. I close this issue. Please refer the status of #16. Thank you for this reporting.

[2015-06-25 22:11] #66 closed

[2015-06-25 22:18] yoichiro commented on #16
I could understand this situation. Well, the error code 0x80000005 means that a received packet bytes are not all bytes, and we need the next packet, I guess. When I configure my samba server like to have many shared folder definitions, I could get the error code. In an investigating some packet bytes you reported above, the data count value was over 1024 (ex: 2049), however, the actual data bytes

[2015-06-26 01:27] yoichiro commented on #16
@divx118 @magic-k @lingramo @koentav I have just released a new version 1.4.3. In this version, a buffer size of a SMB message is increased from 1024 to 8192. Probably, your server has many shared resources. Of course, I know that I must support a SMB_TRANSACTION_SECONDARY to support all cases, but in this version I placed this app can works on more environments above solving the root issue... Cou

[2015-06-26 01:33] yoichiro commented on #35
@nemolivier I have released a new version 1.4.3. Could you confirm whether the latest version works on your environment or not? If this issue reproduced, could you describe the detail steps to be able to reproduce by everyone?

[2015-06-26 03:16] qwerty017 opened #68 "Unable to connect to share with no credentials."
I have a share on a seagate black armor nas and am allowing Public/anonymous use but am unable to connect to it. I keep getting bad username/password errors. Is it possible to log in anonymously using your app?

[2015-06-26 03:31] lingramo commented on #16
@yoichiro
Same issue is occurring. Can confirm server has many shared resources (corporate environment).

readPacket: 12528
background.js:6167

[code]

[2015-06-26 08:06] simmondp commented on #66
Tried the updated version - fixed successfully.
Keep up the good work!
Many thanks

On 25 June 2015 at 23:11, Yoichiro Tanaka notifications@github.com wrote:

[2015-06-26 10:15] yoichiro commented on #16
@lingramo Hey, how many resources does the server have...? :P

[2015-06-26 10:16] yoichiro commented on #16
OK, well, yes, I should fix this issue by "a correct way". I intend to start a coding to support the SMB_TRANSACTION_SECONDARY message.

[2015-06-26 10:30] yoichiro commented on #68
@qwerty017 Could you confirm the debug log by this steps https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools and put it here? I would like to know the situation more detail.

[2015-06-26 10:31] yoichiro commented on #64
@armgong Probably, the current version of this app can't treat a file size over 2GB.

[2015-06-26 10:39] yoichiro commented on #62
@layerzerolabs The latest version has a feature to discovery servers which can talk the SMB Protocol. You can call the feature by clicking the rope icon on the bottom of left of the this app's screen. Could you use the feature? Then, I would like to hear your feedback.

[2015-06-26 11:11] armgong commented on #64
will this solve in short term?

[2015-06-26 11:28] lingramo commented on #16
@yoichiro At least 4 share drives are mounted on user PCs from the one file server.

Perhaps provide the ability to specify share locations: \SERVER\SHARE instead of the server itself?

[2015-06-26 11:31] yoichiro commented on #64
@armgong Really? Hmm... I didn't modify anything against this issue... Anyway, it is good news to me. :P

[2015-06-26 11:33] armgong commented on #64
the only difference is I update chromeos to  43.0.2357.130,maybe this?

[2015-06-26 11:35] armgong commented on #64
oh, sorry ,I made mistake, it is mount by mountcifs not your app.

[2015-06-26 17:01] divx118 commented on #16
@yoichiro For me it works now.
@lingramo Maybe open a new issue/enhancement for adding share location instead of only a server. You can already count on a +1 from me too. However I still like the possibility  to add a server and choose the share, so IMO both should be possible.

[2015-06-26 19:23] nemolivier commented on #35
hello,
no, it don't :(
Trying to log with manually filling setting give me error #3221225581 NT_STATUS_LOGON_FAILURE
And the « search » fonction still give me nothing (It works on all smb client in windows/linux/android).

[2015-06-26 19:24] nemolivier commented on #35
Hum… strange : if I use the recorded smb share, I have the 3221225581 error, but if I create a new one, I get the 3221225506 error.
Do you want more precise logs ?

[2015-06-26 19:29] magic-k commented on #16
Works for me, too. Thanks :-)

[2015-06-26 23:19] helpguy opened #69 "error "Some operations are taking longer than exprected. Do you want to abort them?""
The first time I connected perfectly. Mounted my connection just fine.
The second time, I get this error. (see screenshot)

Any idea what I did wrong?

Acer C740 Chromebook.

![screenshot 2015-06-26 at 3 50 36 pm](https://cloud.githubusercontent.com/assets/13071269/8388993/836f8a5c-1c1e-11e5-826d-ec8c10914b81.png)

[2015-06-27 06:23] qwerty017 commented on #68
Below is with no username or password entered and then with username and password being anonymous.

Object {type: "getSharedResources", serverName: "sbanas", serverPort: "445", username: "", password: ""…}
background.js:6160 Client#login
background.js:6174 Domain name not specified. '?' will be applied.
background.js:6160 connect
background.js:6167 Packet {types_: Types, data_: ArrayBuffer, dataLe

[2015-06-28 07:26] hvdwolf commented on #40
I can now mount both my user/password protected shares as well as my public shares. Very nice.

[2015-06-28 07:26] #40 closed

[2015-06-28 08:22] hvdwolf commented on #62
(It took me some time to find and find out that what you call the "rope icon" is actually the magnifying glass icon, or in other words: the find icon. :)
But how does this work? Both my servers are set to "browseable = yes" and they are not visible. My streamer on the other hand does not have a specific setting and is visible when clicking the magnifying glass icon. At the moment of using that fun

[2015-06-28 10:13] 0xR commented on #62
I have te same issue. Only my browsable folders are mountable. On windows it does work, I just have to enter the specific folder. When I view all the folders shared it is not visible.

What this extention needs is another input field to manually set the share since it is not listed when you're browsing the share.

[2015-06-28 18:20] koentav commented on #16
Just a quick heads up, this new version works here too.

Many thanks!

[2015-06-28 22:58] cottonwool commented on #59
Now using 1.43
A share is mounted, I'm offered a choice of shares (as expected) for my PC. However no files appear in the Files app for the share.

Looking at port 445 with Wireshark I can see SMB transactions
381 1484.227070000  192.168.178.22  192.168.178.20  SMB 156 Trans2 Request, FIND_FIRST2, Pattern: \*

384 1484.231211000  192.168.178.20  192.168.178.22  SMB 1530    Trans2 Response, FIND_FI

[2015-06-30 07:28] Keishaun opened #70 "trying to connect to a shared folder on a Server"
Hi

i am trying to connect to a folder on my server but i am given the error NT_STATUS_LOGON_FAILURE or NT_STATUS_ACCESS_DENIED.

all the information i have input is correct but yet i still am unable to map or mount to any folders with in my domain. I am using a chromebook pixiel. is there any advise anyone can offer ?

[2015-06-30 22:09] RoboJ1M opened #71 "File copies from SMB service on Synology NAS (OS v5.2) stall after 10.5MB"
Hi,

I can successfully connect to and browse the files on my Synology NAS via the SMB service.
But any attempt to copy files quickly stalls, it appears to stall at 10.5MB
Once that happens, only rebooting the Chrome Box allows you to try copying again

[2015-07-01 23:00] dkewley commented on #71
FWIW, I was able to copy a 1 GB file to my Synology DS213j running DSM 5.2 using this SMB connection on my Chromebook. I was also able to copy a 59 MB file from the NAS to my Chromebook's local storage using SMB. So it mostly works for me (I hit issues copying a slightly larger than 2 GB file to the NAS using SMB).

Hopefully @yoichiro or someone else will have good suggestions what to look for. T

[2015-07-01 23:37] dkewley commented on #64
@yoichiro: I successfully used your SMB extension to write a 1GB file to my Synology DS213j NAS (running Samba 4.1.18), but a file that was slightly larger than 2GB had problems.

It appears that the 2+GB file was written correctly up to 2GB+44kB, but then the remainder of the file (about 460kB) was written at an offset of about 6GB into the file (thereby making a sparse file in the underlying ext

[2015-07-02 18:39] AndreyLavrov commented on #63
Dear Jason,
Would you describe the meanings of using Kerberos protocol with SMB app?
I am a consultant of many really big companies powered by Active Directory.
The only means they do not use NTLM is for security reason. They blocked NTLM by GPO. Did you do the same thing? If you block NTLM protocol for compliance with SOX or similar rules then you definitely should prohibit the second password st

[2015-07-03 00:20] yoichiro commented on #16
I have just released a new version 1.4.4. This version includes the modification to fix this issue radically. I close this issue.

@lingramo I believe that your situation will be improved by using this version.

[2015-07-03 00:20] #16 closed

[2015-07-03 00:21] yoichiro commented on #70
@Keishaun Could you confirm a debug log on the console tab of the DevTools by using this steps? https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-07-03 00:22] yoichiro commented on #69
@helpguy Could you confirm a debug log on the console tab of the DevTools by using this steps? https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-07-03 00:25] yoichiro commented on #71
@RoboJ1M Well, probably, some errors occurred, I guess. Could you confirm a debug log on the console tab of the DevTools by using this steps? https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-07-03 14:02] fast-hedgehog commented on #71
With both SMB file system, and the SFTP file system, I connect to my buffalo nas.
When i try to copy/paste a large file (>100MB) from one folder on my nas to another folder, neither app can peform this (they both try for about 30 seconds with a progress bar, then give up).
I have es file explorer sideloaded on my chromebook, and this moves the file instantly...
I assume es is just updating the fil

[2015-07-03 14:15] fast-hedgehog commented on #60
I also have this issue.
When trying to save an image from this webpage to my nas via smb, there is the following error in your console:
"
3221225524: NT_STATUS_OBJECT_NAME_NOT_FOUNDDebug.error @ background.js:6180handleError @ background.js:13952(anonymous function) @ background.js:13355(anonymous function) @ background.js:14098(anonymous function) @ background.js:12135checkError @ background.js:1

[2015-07-03 16:14] atatistcheff opened #73 "Settings for WD MyCloud"
I have looked around and don't see anything on this. I am wondering if anyone has suggestions for configuring a WD MyCloud NAS to work with this extension?  I can connect to a Linux box using smbd just fine but I am always getting a failure (-100 error) connecting to my WD NAS.  I don't see any settings that jump out at me in the Windows share options on the NAS.  There must be something here I'm

[2015-07-03 16:20] Lv2hack commented on #73
No sooner had I posted this than I found the solution.  I'll leave it here in case anyone else has the same issue.  The WD MyCloud NAS defaults to SMBv2.   I had to downgrade to SMBv1 and then it started working.  Strange because the setting in the WD interface says "Max SMB Protocol" which leads me to believe it will support this or anything below.  Not sure if the extension is not negotiating do

[2015-07-03 16:20] #73 closed

[2015-07-06 00:39] yoichiro commented on #64
I found a bug in a bit operation logic: https://github.com/yoichiro/chromeos-filesystem-cifs/blob/master/app/scripts/smb_client/types.js#L138
That is, I forgot that JavaScript executes the bit operation as a "32bit" value... I will be able to fix this issue. Please give me a few days.

[2015-07-06 05:30] qwerty017 commented on #68
Are there any other logs you require?

[2015-07-06 09:01] 100khz opened #75 "apple airport extreme drive sharing issue"
I am able to search for drives shared on apple router and they get mounted fine. But no files are accessible. it gives an error on chromebook that  3221225530 - nt-status-path-not-found

[2015-07-06 11:04] yoichiro commented on #64
@armgong @dkewley I have just released a new version 1.4.5. This version includes the modification to fix this issue. Could you confirm  whether this issue is fixed or not on your environment?

[2015-07-06 12:42] armgong commented on #64
fix confirmed,thank your very much

[2015-07-06 12:42] #64 closed

[2015-07-07 02:43] dkewley commented on #64
Chrome says I have 1.4.5, but I see the same behavior, and I also see problems with the 2GB file when writing to a share exported by Windows 7. I'll leave this issue closed and open a new one.

[2015-07-07 03:01] dkewley opened #76 "writing to CIFS has problems near 2GB into the file"
Initially discussed in issue #64. Still seen in extension version 1.4.5.

I'm using this extension to write a file that is slightly larger than 2GB. The write process seems to proceed properly until about the 2GB mark, then problems arise. The symptoms seem to include a hole being written into the target file, as if a seek was being done far into the file. The resulting file has a length much long

[2015-07-07 06:29] yoichiro commented on #76
@dkewley Sorry, actually I tested the reading file case only. I intend to test the writing file situation and try to reproduce this issue on my environment. Please give me a few days. I will post a comment, if I can find something about this issue.

[2015-07-07 06:51] dkewley commented on #76
Thank you @yoichiro! I took some time to look over the source, and it looks like a fix for this issue would be to apply a change to RequestUtils.prototype.divide8BytesValue similar to what you did in the previous fix for Types.prototype.setFixed8BytesValue.

[2015-07-07 07:29] yoichiro commented on #76
@dkewley Oh, thank you for the investigating! Probably, yeah, it is the cause...

[2015-07-08 05:28] JMAP2014 commented on #63
Andrey,

Just a couple of points;
1. SOX and "government compliance" in your post all relate to the US, and are not relevant to an Australian organisation, so I dont see this as being the reason why.
2. NTLM (v1) is disabled via GPO as this is the default, it is legacy and insecure. NTLMv2 is not disabled in our environment - yet this still doesn't work for AD accounts. It does even work for local

[2015-07-08 16:20] StarrWulfe commented on #35
I'm getting the same thing exactly from my Buffalo Cloudstor as well. However I have a Raspberry Pi with XBMC/Kodi running on it and I can connect to it just fine.

[2015-07-09 01:23] yoichiro commented on #76
@dkewley I have just released a new version 1.4.6 which has a modification #77 to solve this issue. Could you confirm whether you cannot reproduce this issue by ugin 1.4.6?

[2015-07-09 01:24] yoichiro commented on #75
@100khz Could you confirm the debug log on the console tab of the DevTools by this steps? https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-07-09 01:30] yoichiro commented on #71
@fast-hedgehog Hmm... It seems that my app could be loading per about 50KB. Cannot you find other error messages?

[2015-07-09 01:33] yoichiro commented on #68
@qwerty017 Hmm... I don't know the reason why your server returned the access_denied error. Basically, my app cannot get more detail information except the error code. That is, I guess that you need to investigate your server's log. Could you find any error logs in your server's log?

[2015-07-09 04:41] jdsemma commented on #62
I have the same issue; my linux box has specific shares, and no way to specify them in the app. It doesn't show up when I click the search button at the bottom left (but a printer on our network does...)

[2015-07-09 05:52] fast-hedgehog commented on #71
Hi,
thanks for your message,

No other errors appear on the screen. Is there an error log or something?

[2015-07-09 21:28] mattiyeh opened #78 "Connection hangs"
Hello -

I am trying to mount a shared windows folder on my chromebook. When I input the wrong server/username/password/domain, the program gives me an appropriate error message stating NT_STATUS_LOGON_FAILURE. However, when I input the correct parameters and click MOUNT, it seems to hang. I get no error message and no sign that a connection is established. I just get "Attempting to mount instance

[2015-07-13 23:52] hydrokracker opened #79 "Simple windows share via linksys wireless AP"
I have a linksys router which mounts the USB port connection as a windows share. I can access it from every device including my chromebox (when running ubuntu).  I receive "ERR_NAME_NOT_RESOLVED" when attemping with this tool

Ip address:

smb://192.168.1.1/Network Storage/
Port: 445
user, password: Anonymous
domain name: empty

[2015-07-17 10:03] fast-hedgehog commented on #71
I tried it again (copy/pasting the same file to/from the same folders as previous), and i got an error pop up in the system tray (if thats what its called on a chromebook). The same error was also recorded in the console tab of the background page of your app.
"
3221225530: NT_STATUS_OBJECT_PATH_NOT_FOUNDDebug.error @ background.js:6180handleError @ background.js:13952prepare.call.cifsClient.copyE

[2015-07-17 10:17] fast-hedgehog commented on #71
HiI tried pasting the whole log file from the beginning to the end of the copy/paste event, but it was too long for github.Ive attached it to this email..Hope it helps

[code]

 @fast-hedgehog Hmm... It seems that my app could be loading per about 50KB. Cannot you find other error messages?—
Reply to this email directly or view it on GitHub.

[2015-07-19 12:48] drohhyn commented on #70
I have the same issue as Keishaun, here is my log:

[code]

The shared folder is on a fritz box 7362 SL (only available from a german ISP, but similar to 7360 http://en.avm.de/products/fritzbox/fritzbox-7360/). The shares are accessible via smb from linux without problems.

[2015-07-25 07:44] dkewley commented on #76
@yoichiro I have tested v1.4.6 of your extension, copying the same file (slightly larger than 2GB) to the same NAS, and this time the target file has size 2GB as expected, instead of the previous failure (where the file appeared to be 6GB, and had a large hole in it).

I have not re-tested against my 64-bit Windows 7 target, but I have no reason to think it would fail, given that it worked against

[2015-07-25 07:44] #76 closed

[2015-07-25 08:48] yoichiro commented on #76
@dkewley My pleasure!

[2015-07-27 00:43] hydrokracker commented on #79
when attempting to connect using \192.168.1.1 instead the application says attempting to mount instance but then times out. "net:ERR_CONNECTION_TIME_OUT"

to be clear these are the Error messages I am receiving from both my Asus C200MA and M004U both stock Chrome OS. (when running the M004U in Ubuntu SMB works just fine)

[2015-07-30 18:46] des421 opened #81 "No operation on a Netgear R7000 router?"
I assume the subject is the problem? Since there is evidence the app works. But not for me on either my Pixel LS or an Asus C200, both connected WirelssAC. No share name will be resolved period, The "rope"/search returns nothing, etc. I have AndSMB on an Android phone for which my 4 Windows computers and their shares plus the Netgear Readyshare NAS (a HDD in a USB enclosure connected USB 3.0) are

[2015-08-03 07:22] smbuser commented on #78
Hello -

I have this same problem with access to network shares. Error  + STATUS_BUFFER_OVERFLOW 0x80000005.

[2015-08-04 10:48] smbuser commented on #78
Hello again
I made some investigations about this issue. When file server has more than five shares and a few printers it's immpossible to connect. I think it depends on number of character used in the names of shares. When I use single letter in share name I can connect to the server which shares more than five directories. So, I think in version 1.4.6 there is a bug whcich depends on number of c

[2015-08-05 06:49] smbuser commented on #78
Hello..
Today I made next tests on server with Windows server 2008R2 and active directory domain. For the first step, I shared this folders:

shared folder 1
shared folder 2
test 1
test 2
test 3

![screenshot 2015-08-05 at 08 29 17](https://cloud.githubusercontent.com/assets/13346531/9079768/e53e0b5c-3b4d-11e5-9813-d9ef6ce10e1a.png)

In the next step, I added "test 4". After that, connection was i

[2015-08-05 21:40] dblegend commented on #62
I have the same issue as well. Some of my personal shares have been set as intentionally invisible so that non power users on my network won't get confused by all the options.  I still need the ability to specify those shares directly for myself, however.  I haven't found a way to get to those using this tool at this time.

[2015-08-05 22:37] qwerty017 commented on #68
I will check my NAS and see if I can get any logs from it.

[2015-08-06 07:41] smbuser commented on #78
I found solution why I don't have access to network shares. In version 1.4.3  applications yoichiro fixed problems with buffer size  - change value 1024 to 1024 \* 8. In version 1.4.5 and 1.4.6 yoichiro declare variable -  Constants.TRANSACTION_BUFFER_SIZE = 1024. Yoichiro forgot change to value 1024 as 1024 \* 8 so when I changed this  Constants.TRANSACTION_BUFFER_SIZE = 1024 \* 8 ;I build applic

[2015-08-06 17:54] unixabg opened #82 "Samba browse not listing users home folder?"
Greetings,

I have many shares on a samba server. The extension is not showing the logged in users home folder in the list of available shares. This may be a samba issue or it may need to refresh the listing screen. Any ideas?  Also how do I refresh the listing of available shares from the samba server?

Thanks.

[2015-08-06 23:49] chains36 opened #83 "trying to access shared folders off windows 2008 server"
I was able to mount my drives at home off my windows 7 server. I brought into my office and I am getting time out errors. What's going on?

[2015-08-06 23:57] chains36 commented on #83
Now I'm getting access denied 3221225506

[2015-08-07 02:23] unixabg commented on #83
Greetings,

Could you please provide more detailed information about the network share server you are attempting to connect which is causing the issue?

Thanks.

[2015-08-07 02:32] chains36 commented on #83
Windows 2008 server. Trying to access the shared directories on the local network. Its a pretty basic network. Does this help?

Nicko Sarris

[2015-08-08 14:50] etuck opened #84 "How do I remove a mounted share?"
Thanks for building the app.  I've been waiting for a way to use SMB shares on my Chromebook for some time now.

One question: how can I remove mounted shares once they are created?  I don't see any way to do that in the SMB app or File Manager.  The share seems to be working fine but I'm constantly getting errors from it.  Mostly "Some operations are taking longer than expected..."

Thanks.

[2015-08-09 04:45] yoichiro commented on #84
@etuck Could you find a "Close" menu item when you right-click the shared name on the Files app?

[2015-08-09 04:47] yoichiro commented on #83
@chains36 Could you check whether your Windows 2008 server records some errors?

[2015-08-09 04:49] yoichiro commented on #82
@unixabg Could you check the configuration of the user home directory in the smb.conf? I guess that the configuratoin has "browsable = no"...

[2015-08-09 04:51] yoichiro commented on #81
@des421 Could you check a debug log output on the console tab of the DevTools by using the steps? https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-08-09 04:52] yoichiro commented on #79
@hydrokracker Could you check a debug log output on the console tab of the DevTools by using the steps? https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-08-09 04:55] yoichiro commented on #52
@AndreyLavrov The current versio of ChromeOS is providing a function to refresh a file list. Close this issue.

[2015-08-09 04:55] #52 closed

[2015-08-09 06:05] yoichiro commented on #61
@KevinBLT I think that such feature cannot be developed by each FSP app. Please report the proposal to crbug (https://code.google.com/p/chromium/issues/list).

[2015-08-09 06:05] #61 closed

[2015-08-09 06:21] yoichiro commented on #78
@smbuser Hmm... I'm confusing why my app could not continue to get your shared resource list from your server. Basically, I modified the constant value from 1024 \* 8 to 1024, because I changed the logic so that my app can get the shared resource list repeatedly. For instance, when a server returns the STATUS_BUFFER_OVERFLOW value, my app sends a SMB_COM_READ_ANDX request to the server for getting

[2015-08-09 06:45] AndreyLavrov opened #85 "SMB cannot refresh current folder"
SMB app cannot refresh current folder after the folder was updated by other user.

Steps to reproduce issue:
1) Install SMB app and mount shared folder from Windows Server under domain user account.
2) Create, update, delete files in the folder from other computers.
3) SMB app still showing deleted files, old size from updated files and it does not show new files.
![smb refresh](https://cloud.gith

[2015-08-09 07:07] yoichiro commented on #85
@AndreyLavrov Recently, FSP API has been updated. A new events and functions were added to notify a file list from an app to ChromeOS automatically, I guess. I intend to implement an auto-refresh feature with the events and functions.

[2015-08-09 14:02] des421 commented on #81
[code]

[2015-08-09 21:15] yoichiro commented on #81
@des421 The way to check the debug log is the same as the Dropbox app. I cannot understand your issue, therefore, you should provide the log to me.

[2015-08-10 00:15] des421 commented on #81
I'm learning... you've left out a "small" step. To be able to supply the
log you want requires the Chromebook to be in Developer's Mode. To put the
Chromebook in Developer's Mode requires resetting it, clearing all user
data, and is apparently unsupported by Google. Thanks, but no thanks. I'll
wait for something that works.

DES

On Sun, Aug 9, 2015 at 4:15 PM, Yoichiro Tanaka notifications@github

[2015-08-10 01:04] unixabg commented on #82
Greetings,

Yes I believe you are correct and I furthermore believe the samba default (for home folders) appears to be "browseable = no".  Is there a way I can specify the UNC path to my home folder?

Thanks.

[2015-08-10 01:20] yoichiro commented on #81
I cannot fix your issue without a detail information. Close this issue. If you can get some information (ex. DevTools Console log), please a new issue with them.

[2015-08-10 01:20] #81 closed

[2015-08-10 01:26] yoichiro commented on #62
@layerzerolabs @hvdwolf @0xR @jdsemma @dblegend Yesterday, I have released a new version 1.5.0. This version has a textfield to enter a shared resource name you want to mount. If you want to mount a mount point which has a "browsable=no", try the field. I'm happy you feedback the feature to me.

[2015-08-10 01:28] yoichiro commented on #69
@helpguy I close this issue, because you didn't provide any information to fix your issue to me. If you can get some logs, please re-open this issue or create a new issue. Thanks.

[2015-08-10 01:28] #69 closed

[2015-08-10 01:28] yoichiro commented on #75
@100khz I close this issue, because you didn't provide any information to fix your issue to me. If you can get some logs, please re-open this issue or create a new issue. Thanks.

[2015-08-10 01:28] #75 closed

[2015-08-10 01:32] yoichiro commented on #82
@unixabg I have released a new version 1.5.0 yesterday. This version has a new text field to enter a shared resource name you want to mount. For example, if I have a home directory "/home/yoichiro", I should be able to mount my home directory by specifying the shared resource name as "yoichiro". Could you try this new feature on your environment?

[2015-08-10 01:34] yoichiro commented on #70
@Keishaun @drohhyn  I have released a new version 1.5.0 yesterday. This version has a new text field to enter a shared resource name you want to mount. For example, if I have a home directory "/home/yoichiro", I should be able to mount my home directory by specifying the shared resource name as "yoichiro". Could you try this new feature on your environment?

[2015-08-10 01:37] yoichiro commented on #71
@RoboJ1M @dkewley @fast-hedgehog I have released a new version 1.5.0. In this version, I fixed the copying and moving issue. Could you try copying and/or moving your file on your environment by using 1.5.0?

[2015-08-10 02:51] jdsemma commented on #62
Unfortunately still doesn't work. I continue to get NT_STATUS_ACCESS_DENIED. Under Windows, my mount is referenced as 192.168.39.1\jds.  (Internal IP, obviously.)  Under the Android app ES File Explorer, it is a forward slash instead. In all cases there is no domain name.

In the "shared resource name" field, I've tried "jds", "/jds", "\jds", "192.168.39.1/jds" and its backslash variant, all with

[2015-08-10 03:08] yoichiro commented on #62
@jdsemma Oh... I want to know a command which returned the ACCESS_DENIED. Could you check the debug log on the DevTools Console log?

[2015-08-10 04:09] jdsemma commented on #62
At the risk of sounding dumb, any way to do that without being in DEV mode in the first place? (I glanced at the dev console under a chrome web window, but I'm accessing the SMB thingy via Files->Add New Service and nothing I do there pings the devtools console.)

[2015-08-10 04:43] yoichiro commented on #62
@jdsemma See: https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-08-10 04:55] jdsemma commented on #62
2015-08-09 23:49:52.849 background.js:6176 Domain name not specified. '?' will be applied.
2015-08-09 23:49:52.879 background.js:6169 connect
2015-08-09 23:49:52.900 background.js:6169 Header {types_: Types, protocol_: "SMB", command_: 114, errorClass_: 0, errorCode_: 0…}
2015-08-09 23:49:52.915 background.js:6169 NegotiateProtocolRequest {types_: Types, dialects: Array[0], dialects_: Array[1]}
20

[2015-08-10 06:12] dblegend commented on #62
Thanks for the new feature!  I was able to get it working for my various
hidden shares...  It's likely that I have them configured in some way that
is different from that of jdsemma.  I'll keep you updated if I run into any
other issues and am happy to help with troubleshooting however I can.

-Dave

On Sun, Aug 9, 2015 at 9:55 PM, jdsemma notifications@github.com wrote:

[2015-08-10 07:32] yoichiro commented on #62
@dblegend I'm happy you was able to mount your directory. Thank you for the report!

@jdsemma Thank you for the log. However, there is no ACCESS_DENIED. Could you find the ACCESS_DENIED error in your log on the console tab?

[2015-08-10 07:46] yoichiro commented on #85
@AndreyLavrov I will release an auto-refresh feature with a watcher event after releasing ChromeOS 45 stable. I already created a code to do it. #89

[2015-08-10 08:01] smbuser commented on #78
Hello again

**Below Debug log  -  second file server - 93 shares and 6 printers**

_connect
Header {types_: Types, protocol_: "SMB", command_: 114, errorClass_: 0, errorCode_: 0…}
NegotiateProtocolRequest {types_: Types, dialects: Array[0], dialects_: Array[1]}
Packet {types_: Types, data_: ArrayBuffer, dataLength_: 47}
CAP_EXTENDED_SECURITY: true
CAP_COMPRESSED_DATA: false
CAP_BULK_TRANSFER: fal

[2015-08-10 08:32] yoichiro commented on #78
@smbuser At least, your log doesn't have any error messages. I cannot find a reason. You should report ALL log outputs.

[2015-08-10 08:36] yoichiro commented on #59
@cottonwool Could you try a new version 1.5.0?

[2015-08-10 08:41] yoichiro commented on #35
I close this issue, because this issue has many error cases. Therefore, I cannot treat each issue here.
If you have an issue, please create a new issue WITH A DEBUG LOG by the following steps:
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

Thank you for your reporting.

[2015-08-10 08:41] #35 closed

[2015-08-10 09:19] smbuser commented on #78
@yoichiro In console i don't have any errors

second file server - 93 shares and 6 printers - working in version 1.5.0 when I specify shared resource names

[2015-08-10 10:03] yoichiro commented on #78
@smbuser Hmm... I think I will not be able to fix your issue, because I cannot reproduce your situation...

[2015-08-10 11:06] smbuser commented on #78
@yoichiro I have only this error

![screenshot 2015-08-10 at 13 03 46](https://cloud.githubusercontent.com/assets/13346531/9170127/77e09f72-3f60-11e5-8c3f-1d4f86510f1e.png)

[2015-08-10 14:34] unixabg commented on #82
Greetings,

Share mounted and all seems to work perfect!

yoichiro++

On a minor side note, I think it would be nice to see the version number  (1.5.0 in this case) of the extension at the bottom right.

Thanks for the great tool!

[2015-08-10 22:32] jdsemma commented on #62
I cannot find ACCESS_DENIED anywhere. I've cleared the log, retried the connection, gotten the same result -- the log ends with "Packet", after the TreeConnectAndxRequest line.

[2015-08-10 23:12] chains36 commented on #83
nt status logon failure. This is the error message I am receiving now.

[2015-08-11 00:21] yoichiro commented on #78
@smbuser Thanks, smbuser, OK, I have some questions. Is the server name "cl-dc0001" correct full name? Or, is the name actually NetBIOS name? Or, correctly, is the server name "cl-dc0001.domain.name"? And, probably, I guess that you should enter "fkowimm" as the shared resource name, instead of "home/***". Could you re-post a screenshot when you try to enter "fkowimm" only?

[2015-08-11 00:24] yoichiro commented on #82
@unixabg My pleasure. Thank you for your feedback. :) OK, I intend to add the version number label on the bottom right of the screen.

[2015-08-11 00:24] #82 closed

[2015-08-11 00:28] yoichiro commented on #62
@jdsemma Hmm... I guess that your server should record some errors about my app. Could you take a look some errors in your Samba server's log file? I cannot know the reason, because my app did output the error code only from your server...

[2015-08-11 00:31] yoichiro commented on #83
@chains36 Can your server accept NTLMv2 and LMv2 user authentication method? Or, Is your server joining to certain domain provided by NT server or ActiveDirectory?

[2015-08-11 01:24] jdsemma commented on #62
The only line in my samba logfile is:

 [2015/08/10 17:24:02, 1] smbd/service.c:make_connection(1167)
  make_connection: refusing to connect with no session setup

[2015-08-11 01:27] jdsemma commented on #62
One further bit of info that may be useful: I'm running samba v3.0.33-3.39.el5_8.

[2015-08-11 05:11] smbuser commented on #78
Hello @yoichiro

server name cl-dc0001 and cl-dc0001.domain.name is correct

\cl-dc0001\home\fkonwinm - this is my home directory

when I enter only fkonwinm as shared resource name I have this same error

![screenshot 2015-08-11 at 07 09 26](https://cloud.githubusercontent.com/assets/13346531/9190657/0b8e865c-3ff8-11e5-8018-7b4de8cf4fea.png)

[2015-08-11 05:56] yoichiro commented on #78
@smbuser Does your account have a permission to read the shared resource? See: http://serverfault.com/questions/137135/what-does-nt-status-bad-network-name-mean-in-samba

[2015-08-11 09:57] cottonwool commented on #59
Only had time to do a quick test with version 1.5
I started the tool, selected the remembered configuration and typed in the password.
The connection succeeded straight away and I was offered the choice of shares to connect to.
I then tried to copy several folders of pictures from my Chromebook to my PC. I was planning to do the copy anyway by USB memory stick, so this is real activity not a synth

[2015-08-11 10:34] yoichiro commented on #59
@cottonwool At least, you could connect to your server with this app, right? If yes, I want to close this issue.

[2015-08-11 20:08] fast-hedgehog commented on #71
I reckon it works. Good job :)

[2015-08-11 21:22] yoichiro commented on #71
@fast-hedgehog Thank you for the feedback. I close this issue.

[2015-08-11 21:22] #71 closed

[2015-08-12 00:28] cottonwool commented on #59
Yes I can connect to shares on my Windows 7 PC now 3 out of 4 times.
When I have connected I have been able to access files including viewing photos and listening to music.

[2015-08-12 00:44] cottonwool commented on #59
I noticed in another thread that I can now specify the share by name instead of waiting to be given a choice to select from. So I've tried this out and I can open two shares at the same time by specifying the name of each share when I log-on. I like this feature. Also I can close one share and then open another one.
I can't reproduce the failure to mount I saw earlier today despite rebooting my Ch

[2015-08-12 00:44] #59 closed

[2015-08-12 16:53] cottonwool opened #90 "1.50 net::ERR_CONNECTION_TIMED_OUT no IP traffic to PC"
Despite 1.50 seeming to connect very well at times it has also consistently failed to connect at times.

Unlike a previous similar problem in this case there is no observable SMB IP traffic between the chromebook and the PC. This was tested by capturing at the PC and at the intervening router (a Fritz! Box which supports packet capture).

I can ping between the two machines and observe the ICMP pa

[2015-08-12 18:39] smbuser commented on #78
Hello,
@yoichiro I have a two questions.
1. Which your folder is shared - home or yoichiro because in my company folder home is a share ,not my folder fkonwinm and when shared is fkonwinm and share resource name is fkonwinm  then I get access
2. When i have mounted two different shares from one serwer how I can keep their settings?

[2015-08-13 17:17] cottonwool commented on #90
I have now found two problems with my set-up.
1. After a recent Windows update the Windows workgroup seems to have been turned off.
2. The Kaspersky firewall software on the Win 7 PC seems to block SMB traffic sometimes.

I have now re-enabled the Windows workgroup and checked the shares are in place.
I have configured the firewall to recognise the local network by subnet as local network where fi

[2015-08-13 17:17] #90 closed

[2015-08-13 17:22] cottonwool opened #91 "uncaught_exception_handler:8 Error in response to sockets.tcp.connect:"
In the situation where my firewall or some other reason was blocking connections and I was getting repeated occurrences of
net::ERR_CONNECTION_TIMED_OUT

The extension threw an exception.

This has happened only once.

background.js:6176 Domain name not specified. '?' will be applied.
background.js:6169 connect
background.js:6176 Domain name not specified. '?' will be applied.
background.js:6169 c

[2015-08-13 19:13] chains36 commented on #83
I'm assuming it can. It's all default settings. All other computers can access the shared directories on the server.  This is not on a domain with active directory.

I am also not able to access a windows 7 computer with a shared directory.

Nicko Sarris

[2015-08-13 22:27] dkewley commented on #81
@des421: Like you, my Chromebook is NOT in Developers Mode, and I'd strongly prefer to avoid Developers Mode.

That said, I can capture the DevTools console output just fine, following the instructions from @yoichiro. I'm curious why it's not working for you. From my experience, following those instructions does NOT require the Chromebook to be in Developers Mode.

When I browse chrome://extension

[2015-08-14 00:35] des421 commented on #81
I have 2 Chromebooks, An Asus C200 and a Pixel LS*, *which both behave
exactly the same. If a check block "Developer mode" at the top of the
Extensions page is checked then a "background page (inactive)" link is
shown for SMB/CIFS (and other extensions). Which when clicked shows a new
window including the "Console" tab which is totally empty, as would be
expected with the "inactive" indication. I

[2015-08-14 01:38] kahar9 opened #92 "Error when trying to write to router drive"
I can read files fine on my routers internal and usb hard drive, however when every try to write files anywhere I get an error. The router is a WD My Net Central N900 by the way. I can read/write fine on my Windows PC but not my Chromebook. Thanks
![screenshot 2015-08-14 at 02 33 37](https://cloud.githubusercontent.com/assets/13790267/9265601/912c63c4-422d-11e5-8424-1721d4f09631.png)

[2015-08-14 01:53] dkewley commented on #81
@des421 : Ah, it appears there are two different senses of "Developer Mode". There's Developer Mode for the Chromebook as a whole, which as you wrote earlier, wipes your data, is unsupported, etc. Like you, I want to avoid this.

Then there's the "Developer Mode" checkbox on the Extensions page, which is named the same but is entirely different, it appears to me.

I have the DM checkbox on the Ext

[2015-08-14 09:23] cottonwool opened #93 "SMB/CIFS extension has unexpected operation at logon"
Sometimes when I log on to my Chromebook I see error messages from SMB/CIFS to the effect that it can't connect.
It can't connect because my PC is switched off and I haven't let SMB/CIFS keep my password.
But I didn't start the extension anyway! And my PC is not accessible when I'm away from my LAN.

I had been using SMB/CIFS successfully the previous time I was logged on. (Though I do seem to nee

[2015-08-14 13:32] des421 commented on #81
[code]

[2015-08-14 19:59] dkewley commented on #81
My Chromebook is NOT in full Developer Mode. Here's why I'm confident that's the case: a) I never put it in Developer Mode (it requires very specific, non-obvious, warning-laden steps that I have never executed), and b) from my reading about Developer Mode, I'd see a boot-time warning if my Chromebook was in Developer Mode, but I don't see any such warning. So being in DM is NOT the reason why it

[2015-08-14 21:09] des421 commented on #81
[code]

[2015-08-15 06:58] dkewley commented on #81
@des421 : Sorry the following is so long. I tried to keep it as short and organized as I could.

Stepping back from how to get the troubleshooting logs (more on that further below), let's take a look at your original issue.

If I understand correctly, I think that your main original issue is that magnifying glass in this app (Search for SMB servers on the local network) doesn't work for you. Is th

[2015-08-15 16:06] des421 commented on #81
[code]

[2015-08-16 00:01] dkewley commented on #81
OK @des421 let's let this rest for now. If you speak up on this Github issue again, I'll hear it and do my best to respond.

One thing I'm realizing today: this SMB/CIFS app is using mDNS to find SMB shares, and this works both for your R7000-based NAS functionality, and my Synology NAS. Both of those SMB servers announce themselves using mDNS. But apparently Windows doesn't announce its SMB share

[2015-08-16 18:53] hit0wnzzz opened #94 "System restarts unexpectedly when browsing SMB share from Synology NAS"
I have a Synology  DS1813+ with DSM 5.2-5592 Update 2 and a INTEL Atom D2700.

Whenever I browse it with your plugin, my dell chromebook restartas

CHROME VERSION
46.0.2472.0 dev
CHROMEOS_RELEASE_BUILD_NUMBER
7330

[2015-08-17 13:15] chains36 commented on #83
This HP chromebox is useless without smb to access a shared directory on the network.

[2015-08-18 15:14] WillemChromebook opened #96 "Readyshare"
I have a network disk on my netgear router, which is accessible as readyshare. I have not been able to mount it with the chromebook SMB app. I tried
smb://readyshare
smb:\\readyshare
smb://readyshare/USB_storage
readyshare
etc., etc.
How should I mount it?

[2015-08-18 21:05] cottonwool opened #97 "Playing audio stops after short time when debug console not active"
I have SMB/CIFS giving me access to a share on a Win 7 PC.
I am playing audio files using the built in audio player.

If I have the SMB/CIFS extension debug console window open there is no problem playing files of many minutes length (e.g. 20 minutes) one after the other.

If I don't open the debug console window then the audio playout hangs up after around 1.5 minutes to 2 minutes.

I can reprodu

[2015-08-18 21:15] cottonwool commented on #97
192.168.178.20  is the WIn 7 PC
192.168.178.22  is the Chromebook

![wireshark rst ack 20150818 2125](https://cloud.githubusercontent.com/assets/8496854/9342892/622b8d62-45f6-11e5-9331-9ea184d59cfe.png)

[2015-08-18 21:32] cottonwool commented on #97
Some time after this problem occurred (after typing the above report in) the SMB/CIFS extension on the Chromebook had five pop-ups:
Network error occured: -101
Unknown packet received
13108120: UNKNOWN
Unknown packet received
Unknown packet received

The first pop-up listed above appeared at the bottom of the stack on the screen, the last at the top.
I had stopped the capture at the PC so I don't

[2015-08-19 01:47] WillemChromebook commented on #96
I have to add that readyshare does not show up under servers, although it does on my MAC and android tablet. Some chromebook setting pronlem?

[2015-08-19 01:47] #96 closed

[2015-08-19 11:22] WillemChromebook opened #98 "Readyshare"
I have a network disk on my netgear router, which is accessible as readyshare. I have not been able to mount it with the chromebook SMB app. I tried
smb://readyshare
smb:\readyshare
smb://readyshare/USB_storage
readyshare
etc., etc.
I have to add that readyshare does not show up under servers, although it does on my MAC and android tablet. Some chromebook setting pronlem?
How should I mount it?

[2015-08-27 10:30] unextro commented on #69
Hi @yoichiro, getting the same error message... Here's the log:

connect
Header
NegotiateProtocolRequest
Packet
CAP_EXTENDED_SECURITY: true
CAP_COMPRESSED_DATA: false
CAP_BULK_TRANSFER: false
CAP_UNIX: false
CAP_LARGE_WRITEX: true
CAP_LARGE_READX: true
CAP_INFOLEVEL_PASSTHROUGH: false
CAP_DFS: true
CAP_NT_FIND: true
CAP_LOCK_AND_READ: true
CAP_LEVEL_II_OPLOCKS: true
CAP_STATUS32: true
CAP_RPC_REMO

[2015-08-31 06:25] Carl393 opened #99 "NT_STATUS_OBJECT PATH NOT FOUND Problem"
I am having a problem using an Apple Airport Hardware and Hard Drive connected to it

When I mount the filesystem (the IP address that is the Apple Airport) File System finds the name of the hard drive... I select it... it then says.. Successfully Mounted then this error happens..

"NT_STATUS_OBJECT PATH NOT FOUND"

Do I have to enable something in the apple airport utility for this to work proper

[2015-09-02 07:37] nikjft commented on #42
This remains a problem on latest version. Any idea on how to fix/work-around?

[2015-09-03 11:02] AndreyLavrov opened #102 ""File System for SMB/CIFS and Windows" should be splitted for two"
@yoichiro your SMB app is great but I think that it needs some rebranding.
For now you has following two brand lines:
1) File System for <Some OS or Cloud Resource>
"File System for Dropbox"
"File System for OneDrive"
2) <Some protocol> File System
"SFTP File System"
"WebDAV File System"
Regular users knows meaning of the first brand line only and only IT professionals knows what protocols are mea

[2015-09-03 11:34] yoichiro commented on #85
@AndreyLavrov I released a new version 2.0.0 including the auto-updating feature of a file list. The file list will be updated per a minute automatically. I close this issue.

[2015-09-03 11:34] #85 closed

[2015-09-03 11:40] yoichiro commented on #91
@cottonwool I have a question. Was the notification you faced shown many times at the same time?

[2015-09-03 11:42] yoichiro commented on #99
@Carl393 Basically, its error would occur when you enter a wrong shared resource name, I guess. When you can reproduce this issue, could you report the output logs on the DevTools Console tab to me by the following steps?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-09-03 11:46] yoichiro commented on #98
@WillemChromebook First, I want to know what did you fill in to each field (Server Host Name, Port, User Name, Domain Name and Shared resource name). Or, you can send the screenshot when you fill in to each field here.

[2015-09-03 11:55] yoichiro commented on #97
@cottonwool Hmm... I'm not sure what is the reason. Well, I released a new version 2.0.0 today, and the version includes a SMB2 supporting. When you try to access to your Win7, my app should negotiate with the SMB2 protocol. Probably, my SMB2 implementation may solve this issue, I guess. Could you install the new version, and could you confirm whether this issue is reproduced or not with the new v

[2015-09-03 11:57] yoichiro commented on #94
@hit0wnzzz I don't intend to support the dev channel. Sorry. Actually, I'm developing my apps with a beta channel.

[2015-09-03 11:57] #94 closed

[2015-09-03 12:05] yoichiro commented on #93
@cottonwool Hmm... Yes, if you opened a Files app and shutdowned your Chromebook, and when you turn on the chromebook, the ChromeOS will try to re-open the Files app and resume mounting to your server which was connected before shutdown. However, as my experiences, the network interface is not prepared yet... Therefore, my SMB app could not re-connect to your server, and showed an error notificati

[2015-09-03 12:07] yoichiro commented on #92
@kahar9 When you faced this issue, could you check an output log for debugging on a DevTools Console tab with the following steps, and post it as a comment here?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-09-03 12:12] yoichiro commented on #43
@dnikkel At least, I think that it is difficult to continue to do all operations, if your server is down... I don't know any solutions... I hope that you should change settings of your server. Sorry.

[2015-09-03 12:12] #43 closed

[2015-09-03 12:17] yoichiro commented on #68
@qwerty017 Could you give me information you collected?

[2015-09-03 12:18] yoichiro commented on #70
@Keishaun @drohhyn Ping.

[2015-09-03 12:47] yoichiro commented on #78
@smbuser I could reproduce the error message "BAD_NETWORK_NAME", when I tried to connect to my home directory. I intend to investigate this issue soon.

[2015-09-03 16:56] qwerty017 commented on #68
Unfortunately, I do not see any way to get logs from the NAS.

[2015-09-03 21:16] yoichiro commented on #78
@smbuser I investigated the error message. I tried to mount my user account which doesn't have any home directory to my Samba server, I could reproduce the error message (BAD_NETWORK_NAME). At the time, the Samba log file had the following line:

[2015/09/04 06:08:31.880117,  0] smbd/service.c:1092(make_connection_snum)
  '/nonexistent' does not exist or permission denied when connecting to [yoich

[2015-09-03 21:16] #78 closed

[2015-09-03 21:38] yoichiro commented on #102
@AndreyLavrov Hmm... I also think that the two categories "Could/OS" and "Protocol" are correct. However, I cannot agree to separate this SMB app to two apps. Actually, the words "SMB" and "CIFS" looks difficult as most users. That is, I think that I should change this app name to "File System for Windows(R)" to be more simply and clearly. In the other hand, the "SMB File System" is unnecessary, I

[2015-09-04 00:23] yoichiro commented on #68
@qwerty017 Hmm... Sorry, I guess that I cannot fix this issue. I close this issue, and please re-open or post an issue as new, after you can get some information. Thanks.

[2015-09-04 00:23] #68 closed

[2015-09-04 13:02] cottonwool opened #104 "v 2.0.2 NT_STATUS_INVALID_PARAMETER"
When I try to connect to my PC in the usual way I now get the following error and no connection.

SMB/CIFS File System
c000000d:
NT_STATUS_INVALID_PARAMETER

Console log follows

background.js:18374 Looked up with chrome.mdns:  Array[0]length: 0__proto__: Array[0]
background.js:18374 Looked up with chrome.mdns:  Array[0]length: 0__proto__: Array[0]
background.js:6379 Domain name not specified. '?'

[2015-09-04 13:09] cottonwool commented on #104
This is what Wireshark sees on port 445.
See Frame 13 in particular.

No.     Time           Source                Destination           Protocol Length Info
      1 0.000000000    192.168.178.1         192.168.178.20        NBSS     60     Session keep-alive

Frame 1: 60 bytes on wire (480 bits), 60 bytes captured (480 bits) on interface 0
Ethernet II, Src: Avm_3c:ae:eb (9c:c7:a6:3c:ae:eb), Dst:

[2015-09-04 14:59] yoichiro commented on #104
@cottonwool You can change the debug log level by clicking the gear icon. I would like you to collect the detail error log and put them here.

[2015-09-04 15:37] cottonwool commented on #104
I can't find where to set the debug log level.
I've looked under the gear icon of the app.
I've looked under the gear icon of the debug console.
I am not running chromeos in developer mode, does that make a difference?
I've googled for how to do this but nothing useful came up.
Help?

[2015-09-04 21:35] iondisrupter opened #105 "Chromebook flip"
Was working two days ago.
now I get this...
This application is not supported on this computer. Installation has been disabled. The following problems are detected:
Chrome of version at least 45 is required

Chromebook Flip Asus
Version 44.0.2403.156
Platform 7077.134.0 (Official Build) stable-channel veyron_minnie
Firmware Google_Veyron_Minnie.6588.95.0

[2015-09-05 19:31] AndreyLavrov commented on #102
I have suggested to change name for two reasons:
1) To simplify names for regular users
2) To split apps for future improvements (specialisation)
I think that "File System for Windows" would be great for achieving the first aim.
The second aim may be on hold while you don't implement much Windows specific features (especially non standard features).
P.S. Why you use "(R)" sign after the name? It's

[2015-09-06 14:04] yoichiro commented on #104
@cottonwool I have just released a new version 2.0.3 including the settings I mentioned at the previous comment. You should be able to find the gear icon. Could you confirm the debug log once again?

[2015-09-06 19:54] cottonwool commented on #104
I've got the new version with the settings options but it will be a day or so before I can try them out.

[2015-09-07 15:50] pmontelo commented on #104
@yoichiro I'm getting the same error (c000000d) using v2.0.3 connecting to a share on a Windows 7 desktop that is part of my active directory domain.  If I change the max protocol version to SMB1, then I can connect but SMB2 always fails with NT_STATUS_INVALID_PARAMETER.

If you can tell me how to collect the log output, I can send them to you.

[2015-09-07 20:50] tyw7 opened #107 "NT_STATUS_OBJECT PATH NOT FOUND Problem"
I have a problem with MyCloud.  It previously worked in the past but not any longer.

Looked up with chrome.mdns:  Array[0]
Domain name not specified. '?' will be applied.
connect
Header
NegotiateProtocolRequest
Packet
Negotiated with SMB2
Header
NegotiateResponse
Header
SessionSetupRequest
Packet
Header
NTLMSSP_NEGOTIATE_UNICODE: true
NTLMSSP_NEGOTIATE_OEM: false
NTLMSSP_REQUEST_TARGET: true
NTLM

[2015-09-08 00:21] yoichiro commented on #104
I could reproduce this issue with my Win7. Well, I intend to fix this issue as a high priority.

[2015-09-08 10:57] KevinTho opened #109 "Help connecting home NAS"
I would be very grateful for some guidance since I don't seem to be able to get it working. I am trying to access a drive on my NAS Box (iomega iConnect) The name of the NAS is storage-105. It has a drive attached to it called TOURO_MOBILE. There is no password protection on it. When adding the drive as a network drive in windows I use the \\storage-105\TOURO_MOBILE as the drive name. What do I en

[2015-09-08 18:47] Kleinast opened #110 "Chrome OS install plugin fail"
I can't install this plugin on my chrome OS file manager.
When I click on install plugin, I have an alert windows tell me, install fail.

[2015-09-09 04:21] LCalrissian opened #112 "Issue joining Samba share on Asus Router"
I'm having trouble connecting to a Samba share on an ASUS router.  I am able to mount the share in Windows.  With this extension, I get no response at all from the extension, and it seems to freeze up the Samba service on the router - I can't access the router's admin page for Samba, and I need to reboot it in order to get there.   See the log below.  Please let me know if there is any other way I

[2015-09-09 13:31] unextro opened #113 "c00000bb UNKNOWN"
Hello Yoichiro,

![screenshot 2015-09-08 at 17 06 16 - edited](https://cloud.githubusercontent.com/assets/13996981/9762997/62ba24c4-5707-11e5-8d4a-08f878962d9e.png)

![screenshot 2015-09-08 at 14](https://cloud.githubusercontent.com/assets/13996981/9762999/68fe2452-5707-11e5-9790-eea6cb8814b2.png)

BTW, the same settings were throwing error described in #69 before the latest version...

Let me kno

[2015-09-09 21:11] hottool77 commented on #110
can't install , me too.
when add this software at web store, error  "chrome 45 is required" in japanese.

[2015-09-10 22:08] yoichiro commented on #110
@Kleinast @hottool77 Probably, you are using ChromeOS 44 on your Chromebook. I implemented a new feature (auto-updating file list) which a new event supported by ChromeOS 45 was used in the previous version 2.0.3, therefore, your ChromeOS rejected installing my app. So, I just released a new version 2.0.4 including the diff #111 so that my app works on ChromeOS 44. I would be great if you could ch

[2015-09-10 22:09] yoichiro commented on #105
@iondisrupter See the duplicated issue #110.

[2015-09-10 22:09] #105 closed

[2015-09-13 05:37] dkewley opened #114 "SMB2 gives NT_STATUS_OBJECT_NAME_NOT_FOUND, SMB1 works fine (Samba NAS)"
Using extension version 2.0.4 to access my Synology NAS (running Samba 4.1.18, Synology DSM 5.2.0.5592.4), SMB2 fails while SMB1/CIFS works. Because I can limit the protocol to SMB1/CIFS in the extension's configuration dialog box (the gear icon), I can get my work done using SMB1. I thought you'd want to know I ran into this issue, which others may see as well.

Using SMB2, I get the following ou

[2015-09-14 00:33] magic12 opened #115 "3221225506 NT_STATUS_ACCESS_DENIED error"
I am trying to connect to the hard drive connected to my Dlink DIR860L router.
I am entering the IP address of my router,server port as default 445, username and password but always getting this error. Please advise.

[2015-09-15 08:20] smbuser opened #118 "Want to mount a directory in a mounted shared resource directly"
Hi @yoichiro again

I created new issues because the previous #78 was closed.
In my company we don't use FreeNAS, Linux Servers - we use only Windows Servers enterprise.  We have folder "home" which is a share and from laptops with windows 7, windows xp we have access to folders below folder home.

![share_home_opis](https://cloud.githubusercontent.com/assets/13346531/9870818/86a1ff2e-5b8f-11e5-98

[2015-09-16 10:57] mates52472 commented on #113
Yep, got the same issue... can someone advise, please ?? :)

[2015-09-17 11:51] ericlmccormick opened #119 "Slow"
I have used this plug in on and off with 2 different Chrome OS devices. However I rarely use it because it is very slow. I thought it might have been something dealing with my network NAS but using samba with my Android phone and my Windows7 PC, everything runs fast. Not sure what the issue might be.

[2015-09-17 12:14] yoichiro commented on #119
@ericlmccormick I want to know how long was each operation.

[2015-09-17 12:19] ericlmccormick commented on #119
Just to pull up the contents of a folder can take up to 30sec and I get a
message saying it is taking longer than normal and ask if I want to abort.
Eric
On Sep 17, 2015 8:14 AM, "Yoichiro Tanaka" notifications@github.com wrote:

[2015-09-18 13:18] yoichiro commented on #104
@cottonwool @pmontelo I just released a new version 2.1.1. This version includes a new logic to support connecting to Win7. It would be great if you could do a connection test with the latest version.

[2015-09-18 13:20] yoichiro commented on #107
@tyw7 I just released a new version 2.1.1. The previous version included a bug which a wrong path specified (\srvsvc). I guess that you can access to your server with the latest version. It would be great if you can do test again.

[2015-09-18 13:22] yoichiro commented on #114
@dkewley I just released a new version 2.1.1. The previous version included a bug which a wrong path specified (\srvsvc). I guess that you can access to your server with the latest version. It would be great if you can do test again.

[2015-09-18 13:22] tyw7 commented on #107
I was able to access by switching to SMB1.

Edit: Either SMB works.  Any difference?

[2015-09-18 13:25] yoichiro commented on #113
@unextro @mates52472 I just released a new version 2.1.1. The previous version included a bug which a wrong path specified (\srvsvc). I guess that you can access to your server with the latest version. It would be great if you can do test again.

[2015-09-18 13:26] yoichiro commented on #109
@KevinTho It would be great if you can post the debug log by the following steps:
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-09-18 13:28] yoichiro commented on #112
@LCalrissian Probably, this issue has already been fixed by the latest version. Could you do a test to confirm whether this issue is reproduced or not with the latest version 2.1.1?

[2015-09-18 13:29] yoichiro commented on #115
@magic12 Could you post the debug log by the following steps?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-09-18 13:30] yoichiro commented on #118
@smbuser Could you post the debug log by the following steps?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-09-18 13:31] yoichiro commented on #119
@ericlmccormick Could you post the debug log here by the following steps?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-09-18 13:33] yoichiro commented on #42
@nikjft I just released a new version 2.1.1 including SMB2 support. Could you confirm whether this issue is reproduced or not?

[2015-09-18 13:35] yoichiro commented on #70
I close this issue, because reporters could not post more information here. Sorry.

[2015-09-18 13:35] #70 closed

[2015-09-18 13:36] yoichiro commented on #79
I close this issue, because the reporter could not post more information here. Sorry.

[2015-09-18 13:36] #79 closed

[2015-09-18 13:38] yoichiro commented on #83
@chains36 Could you post the debug log here by the following steps with the latest version?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-09-18 13:38] yoichiro commented on #84
I close this issue, because I could not get more information from the reporter. Sorry.

[2015-09-18 13:38] #84 closed

[2015-09-18 13:40] yoichiro commented on #91
I close this issue, because I could not get more information from the reporter. Sorry.

[2015-09-18 13:40] #91 closed

[2015-09-18 13:41] yoichiro commented on #92
I close this issue, because I could not get more information from the reporter. Sorry.

[2015-09-18 13:41] #92 closed

[2015-09-18 13:42] yoichiro commented on #97
I close this issue, because I could not get more information to fix this issue from the reporter. Sorry.

[2015-09-18 13:42] #97 closed

[2015-09-18 13:43] yoichiro commented on #98
I close this issue, because I could not get more information to fix this issue from the reporter. Sorry.

[2015-09-18 13:43] #98 closed

[2015-09-18 13:44] yoichiro commented on #99
I close this issue, because I could not get more information to fix this issue from the reporter. Sorry.

[2015-09-18 13:44] #99 closed

[2015-09-18 13:46] yoichiro commented on #110
I close this issue, because I think this issue has been fixed. Thank you for the reporting.

[2015-09-18 13:46] #110 closed

[2015-09-18 14:53] cottonwool commented on #104
@yoichiro I've started by using max protocol version = SMB1/CIFS with Log Level = Trace but no console window open. I tried my usual usage of playing audio files with Audio Player and browsing around the folders of my share at the same time.

This works OK. I've been playing audio for >20 minutes without a hangup. This was a >14 minute track followed by a >6 minute track. Before this version the a

[2015-09-18 15:06] cottonwool commented on #104
@yoichiro Trying now with SMB2 and Log Level = Trace and no background / console window. The result was that it seemed to be successful then I got a pop-up warning about a task taking longer than expected and the shared folder did NOT appear in the Files window.

I tried again with the same share but with Info log level / no background window and got a message to say it was already mounted.

I tri

[2015-09-18 15:17] cottonwool commented on #104
@yoichiro I've rebooted my chromebook and went to try again with SMB2 and the same shares. I did not check the files app but went straight to the SMB app to mount one of the shares. When I clicked MOUNT I got an "Already mounted" message.

I went to the files app and both shares were visible to use. (This is the issue with there being no control over shares reconnecting automatically at startup)

[2015-09-18 15:38] cottonwool commented on #97
Version 2.11 seems to have fixed this issue.
Although this issue is already closed I want to confirm it is now fixed
In testing so far audio played for >20 mins with SMB1 and > 20 mins with SMB2.
This is as long as I have had time to test for and both times are >> than the previous time to failure.

[2015-09-18 15:59] cottonwool commented on #104
In my opinion the original issue (c000000d: NT_STATUS_INVALID_PARAMETER) is fixed.

I closed the shares. Rebooted. Checked the settings were SMB2 and Log Level = Info and no background / console window. I mounted a share and played and audio file. I have got two pop-ups "An operation is taking longer than expected. Do you want to abort it" One from the Audio Player app and one from the general not

[2015-09-18 16:18] WillemChromebook commented on #98
I was on vacation the last two weeks and I could not send screen shots. I
will do that today.
On Sep 18, 2015 09:43, "Yoichiro Tanaka" notifications@github.com wrote:

[2015-09-18 17:26] Carl393 commented on #99
[code]

—Reply to this email directly or view it on GitHub.

[2015-09-18 19:40] dkewley commented on #114
SMB2 works for me now in v2.1.1. I see the name was changed from `\srvsvc` to simply `srvsvc`. Thank you @yoichiro for the fix and quick response! Closing this issue.

[2015-09-18 19:40] #114 closed

[2015-09-18 19:53] pmontelo commented on #104
@yoichiro the SMB2 connection problem seems to be fixed.  It's working fine for me with your new version. Thanks.

[2015-09-18 21:15] WillemChromebook opened #121 "Readyshare problems"
Hi,

I have problems hooking up netgear's readyshare network drive. I have successfully hooked it to my mac and android tablet. Since it is on my regular router in the most basic way I do not need to give passwords, etc.  Below are some screen shots. Thanks!

[2015-09-18 21:31] WillemChromebook commented on #121
Here are the screen shots

![screenshot 2015-09-18 at 17 17 21](https://cloud.githubusercontent.com/assets/13853656/9971489/1cf99ef4-5e2a-11e5-870f-1077e0651bee.png)

message name not resolved

![screenshot 2015-09-18 at 17 25 14](https://cloud.githubusercontent.com/assets/13853656/9971513/51eb5cb0-5e2a-11e5-8da1-067c4b5af005.png)

message name not resolved

![screenshot 2015-09-18 at 17 27 36](ht

[2015-09-19 13:30] yoichiro commented on #121
@WillemChromebook You must fill in the "Server name" or "IP Address" only to the "Server Host Name/IP Address" field. The "smb://" protocol identifier is unnecessary.

[2015-09-19 13:30] #121 closed

[2015-09-19 16:39] nikjft commented on #42
Yoichiro, I'm afraid it's still not working. I also tried connecting to a Mac with the latest version of MacOS X with SMB sharing active and it won't connect to that, either. It does successfully browse available servers and identify those with sharing enabled, so I know it's not just a network problem. I can also connect successfully from Mac and Windows machines using SMB/CIFS networking. Very s

[2015-09-19 19:48] WillemChromebook commented on #121
Thank you for your quick reaction! I tried the examples shown in the
screenshots (I got new router and had to change IP address) and I did not
succeed to mount readyshare.
When using the IP address (without smb:\) the first two examples geve the
error message NT status access denied. When using readyshare (without
smb:\) the last two examples gave the error message name not resolved.

I hope this

[2015-09-20 10:57] taylordottwo opened #124 "NT_STATUS_WRONG_PASSWORD"
I can connect to shares on my home network's SAMBA shares when no password is required.  When I try to access a share that requires a username/password, I get NT_STATUS_WRONG_PASSWORD.  I can access this same share with Windows and Linux boxes but I have to force ntlm security for the Linux boxes.  I've double- and triple-checked the username/password combo.  Not sure what you'll find useful, but

[2015-09-20 22:41] yoichiro commented on #124
@taylordottwo Could you put the debug log here by following steps?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-09-20 22:50] taylordottwo commented on #124
Here is the debug log:

background.js:6381 getTaskQueue: Created.
cifsfs://rpi-lanserver:139/@/Audio_Books
background.js:6381 getTaskQueue: Created.
cifsfs://rpi-lanserver:139/@/Documents
background.js:6381 getTaskQueue: Created.
cifsfs://rpi-lanserver:139/@/Movies
background.js:6381 getTaskQueue: Created. cifsfs://rpi-lanserver:139/@/Music
background.js:6381 getTaskQueue: Created.
cifsfs://rpi-la

[2015-09-21 02:37] ericlmccormick commented on #119
It does seem to be working a little better today. Attached is a copy of the
log. It looks like the first time it sees a folder, it downloads a lots and
then future request of that folder are much faster. When using my phone, it
is just grabbing a list of the files and not trying to get images for
thumbnails and such. With a Windows PC, I think the order of operations is
a little different and will

[2015-09-21 06:20] smbuser commented on #118
Object {serverName: "cl-dc0001", serverPort: "445", username: "fkonwinm", password: "", domainName: "DLKPL"…}
background.js:6381 Client#login
background.js:6388 connect
background.js:6388 Header {types_: Types, protocol_: "SMB", command_: 114, errorClass_: 0, errorCode_: 0…}
background.js:6388 NegotiateProtocolRequest {types_: Types, dialects: Array[0], dialects_: Array[2]}
background.js:6388 Pack

[2015-09-21 19:08] unixbulletin opened #126 "NT_STATUS_ACCESS_DENIED on samba 3.0.37"
Hi,

this app is compatible with samba 3.0.37?. When I try to connect I get the message "NT_STATUS_ACCESS_DENIED"

Thanks

[2015-09-21 22:43] KevinTho commented on #109
Here is the log as requested, thanks.

Domain name not specified. '?' will be applied.
background.js:6395 Negotiated with SMB1/CIFS
background.js:6395 CAP_EXTENDED_SECURITY: true
background.js:6395 CAP_COMPRESSED_DATA: false
background.js:6395 CAP_BULK_TRANSFER: false
background.js:6395 CAP_UNIX: true
background.js:6395 CAP_LARGE_WRITEX: true
background.js:6395 CAP_LARGE_READX: true
background.js:

[2015-09-22 14:28] yoichiro commented on #109
@KevinTho You can change the debug log level by clicking the gear icon. The log above didn't have any valuable information to fix your issue.

[2015-09-23 09:44] unextro commented on #113
@yoichiro Still the same error message after the app update... :/

[2015-09-23 12:36] yoichiro commented on #113
@unextro I see... It would be great if you can post the debug log again after changing the debug log level to "Trace" by clicking the gear icon on the bottom of the left on the login panel. I want to know the command when the error occurred.

[2015-09-24 13:00] KevinTho commented on #109
new log with trace turned on, hope it helps. Thank you very much for your help, really appreciate it !

Object {serverName: "192.168.0.9", serverPort: "445", username: "", password: "", domainName: ""…}domainName: ""password: ""serverName: "192.168.0.9"serverPort: "445"sharedResource: "TOURO_MOBILE"type: "mount"username: ""**proto**: Object
background.js:6381 Client#login
background.js:6395 Domain

[2015-09-24 22:22] yoichiro commented on #102
I intend to release a new version including changing the name and icons:
https://github.com/yoichiro/chromeos-filesystem-cifs/pull/127/files

[2015-09-24 22:51] yoichiro commented on #102
I just released the new version 2.3.0. In this version, the application name has been changed to "File System for Windows" and all icons have been changed.
Well, I don't intend to release the "SMB/CIFS File System" as a new application, because I don't have any reason to release it...

[2015-09-24 22:51] #102 closed

[2015-09-25 13:21] yoichiro commented on #124
@taylordottwo It seems that you could access to your server successfully, when I checked the log above... Did you face the error message really?

[2015-09-25 13:23] yoichiro commented on #113
@unextro Ping.

[2015-09-25 13:24] yoichiro commented on #126
@unixbulletin Could you post the debug log by the following steps?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-09-25 23:57] WillemChromebook opened #128 "Still have readyshare problems ...."
With reference to closed item 121 (I did not close it) the following.

I tried the examples shown in the
screenshots (I got new router and had to change IP address) and I did not
succeed to mount readyshare.
When using the IP address (without smb:\\) the first two examples geve the
error message NT status access denied. When using readyshare (without
smb:\\) the last two examples gave the error me

[2015-09-26 18:13] WillemChromebook commented on #128
I connected with my modem and got the following information about readyshare. Maybe this will help to solve the problem.

![screenshot 2015-09-26 at 14 09 38 - display 1](https://cloud.githubusercontent.com/assets/13853656/10119045/b95fd5a4-6458-11e5-84c9-6507566fb93e.png)

[2015-09-26 19:55] taylordottwo commented on #124
The logs may indicate success, but the CIFS file system was not mounted and
I really did receive the error message indicated. I sent you the CIFS log.
On Sep 25, 2015 9:21 AM, "Yoichiro Tanaka" notifications@github.com wrote:

[2015-09-27 11:43] kstenerud opened #129 "Gets stuck if file server is inaccessible"
If the CIFS server ever disappears (you disconnect from the network or the server goes down), this extension completely locks up the chromeos file manager. I had to restart the computer and disable the extension before I was able to browse even the local file system.

[2015-09-27 23:41] jjquin commented on #115
I have this same issue connecting to the drive on my Netgear R7000.  Same exact error.  Here is my debug log.
![screenshot 2015-09-27 at 7 34 25 pm](https://cloud.githubusercontent.com/assets/14864690/10125808/ac51d018-654f-11e5-83f5-fda900acb3bf.png)

[2015-09-28 01:50] magic12 commented on #115
Sorry for the delay in replying. Please see the log below.

background.js:6395 Domain name not specified. '?' will be applied.
background.js:6388 connect
background.js:6388 Header
background.js:6388 NegotiateProtocolRequest
background.js:6388 Packet
background.js:6395 Negotiated with SMB1/CIFS
background.js:6395 CAP_EXTENDED_SECURITY: true
background.js:6395 CAP_COMPRESSED_DATA: false
background.j

[2015-09-28 14:40] unextro commented on #113
Hi @yoichiro, I've read your response, but the problem appears inside our corporate network and I won't be in the office until Tuesday (it's national holiday in Czech Republic). Expect the logs tomorrow. :) Thanks for your help

[2015-09-29 11:07] unextro commented on #113
Hello again @yoichiro, I've sent the log file directly to your e-mail address since it contains corporate credentials etc.

[2015-10-05 04:47] akanalytics opened #130 "Directory not visible (appears in logs though) for canon scanner"
I have a canon printer/scanner which shares it memory card via samba/cifs (port 139)
All seems to work but the two directories IMAGE and DOCUMENT do not appear in the files browser on chromebook (parent directory does)

Snippet from consol log files

Packet {types_: Types, data_: ArrayBuffer, dataLength_: 102, packetHelper_: PacketHelper}
background.js:6381 writePacket
background.js:6388 FF53 4D42

[2015-10-06 08:29] unextro commented on #113
Hi @yoichiro, did you receive the log? Is there anything else I can do?

[2015-10-06 22:00] didtoknan commented on #98
Hi,

I want to do the same thing.
My netgear router has a USB port which allows me to share the usb drives I plug to it.
The access point is readyshare.
It works on Windows and Android.

IP Address: 192.168.1.1 (ip of my router)
Server port number: 445 (the default one)
User Name and Password empty
Domain Name empty
Shared ressource name: readyshare

Please help us !

[2015-10-07 16:05] didtoknan opened #131 "Readyshare issue"
Hi,

It's at least the 3rd issue about that subject but the others are closed without a solution.
I tried the server name "readyshare" and also the IP server "192.168.1.1".
Both are working fine on Windows and Android.

With the ip address, the error is 3221225506 NT_STATUS_ACCESS_DENIED.
With the server name, it's net:ERR_NAME_NOT_RESOLVED

Can you please help me ?
Do you need more information ?

[2015-10-08 16:42] johnmark commented on #35
Seems like all of these errors are reported by people connecting to storage servers running some version of Samba on Linux. In my case, it's a Netgear Stora. I'll follow the instructions above to report my error. Thanks.

[2015-10-08 16:50] Sanmina opened #132 "Cannot connect to Windows 2008R2 with domain account"
Hi
I can connect to the 2008R2 Server using a local account created on the server, but when i try to use a domain account i get NT status logon failure. I know that i have the NTLMV authentication right. Can you point me in the right direction to start looking ?

Debug log:
Looked up with chrome.mdns:  Array[0]
background.js:6388 connect
background.js:6388 Header {types_: Types, protocol_: "SMB",

[2015-10-08 16:59] Sanmina opened #133 "Cannot connect to Windows 2008R2 with domain account"
Hi
I can connect to the 2008R2 Server using a local account created on the server, but when i try to use a domain account i get NT status logon failure. I know that i have the NTLMV authentication right. Can you point me in the right direction to start looking ?

connect
background.js:6388 Header
background.js:6388 NegotiateProtocolRequest
background.js:6388 Packet
background.js:6395 Negotiated wi

[2015-10-11 22:11] BrantleyHobbs opened #134 "NT_STATUS_LOGON_FAILURE connecting to Win 7 shares"
Trying to mount shares on my Windows 7 Pro workstation.  When I manually type in the correct connection information on my Chromebook, I get:

ATTEMPTING TO MOUNT
c000006d NT_STATUS_LOGON_FAILURE

I also cannot browse and enumerate any machines.  I am not part of a domain; I am using local accounts only.  Network discovery is enabled on the Windows machine, and the shares work perfectly fine from W

[2015-10-12 11:16] yoichiro commented on #83
@chains36 I close this issue, because you didn't provide a log...

[2015-10-12 11:16] #83 closed

[2015-10-12 11:18] yoichiro commented on #104
OK, I close this issue. Thank you for the reporting.

[2015-10-12 11:18] #104 closed

[2015-10-12 11:22] yoichiro commented on #107
@tyw7 I close this issue, because your feedback looks good. SMB1 and SMB2 are so different protocols.

[2015-10-12 11:22] #107 closed

[2015-10-12 11:30] yoichiro commented on #109
@KevinTho Hmm... The log represented that the communication was successfully. Can you access to the target server from your pc (Windows or etc)? If yes, it would be great if you can capture packets and send it by the following steps:
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-capture-packets-with-Wireshark

[2015-10-12 11:31] yoichiro commented on #112
@LCalrissian I close this issue, because you could not post the reply above. Thank you for the report!

[2015-10-12 11:31] #112 closed

[2015-10-12 11:46] yoichiro commented on #113
@unextro I'm sorry for delay. I'm checking the log you sent to me. Just a moment.

[2015-10-12 13:13] yoichiro commented on #113
@unextro Hmm... The error code "C00000BB" means "STATUS_NOT_SUPPORTED". That is, your server rejected the QueryInfoRequest which my app sent, because the server doesn't support the command, I think. So, when I read the log, you tried to access to the shared resource named "msmid$". Is the "msmid$" resource for file sharing?

[2015-10-12 17:47] didtoknan commented on #131
I can access to my desktop using this app, but I still can't access to the readyshare server.
I guess there is no solution.

[2015-10-12 22:10] yoichiro commented on #115
@magic12 @jjquin Hmm... I could not find any reason why this error occurred. So, I would like to know the packets which you access to the server from your pc successfully. Could you capture the packets by the following steps?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-capture-packets-with-Wireshark

[2015-10-12 22:12] KevinTho commented on #109
Have sent a trace file via email

[2015-10-12 22:16] yoichiro commented on #118
@smbuser You should enter "home" string as the shared directory.

[2015-10-12 22:20] yoichiro commented on #119
@ericlmccormick Thank you for the feedback. I intend to impletemt a new feature to abort operations.

[2015-10-12 22:20] #119 closed

[2015-10-12 22:24] yoichiro commented on #124
@taylordottwo Hmm... Could you send me the correct packets between your server and your client which you can access to by the following steps?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-capture-packets-with-Wireshark

[2015-10-12 22:26] yoichiro commented on #131
@didtoknan Duplicated issue as #128.

[2015-10-12 22:26] #131 closed

[2015-10-12 22:28] yoichiro commented on #133
@Sanmina Duplicated issue as #132

[2015-10-12 22:28] #133 closed

[2015-10-12 22:33] yoichiro commented on #109
@KevinTho Thanks! I got the log, and I intend to check it. Give me a few days.

[2015-10-13 00:31] yoichiro commented on #109
Now checking... Well, I found the following differences:
- TreeConnectAndxRequest
  - Header/Flags: Success=0xc807 Failure=0xc803 ("Security Signatures: Security signatures are supported" not specified.)
  - Parameter/Flags: Success=0x0008 Failure=0x0000 ("Extended Response: Extended Response" not specified.)
  - Data/Path: Success=\STORAGE-105\TOURO_MOBILE Failure=\192.168.0.9\TOURO_MOBILE

[2015-10-13 00:49] yoichiro commented on #109
@KevinTho I also found a wroung value of the User ID. For instance, like the following:
1. The FSP app sends a 1st SessionSetupAndxRequest which has 0 as the User ID.
2. The server returns a 1st SessionSetupAndxResoinse which has 0x64 as the User ID.
3. The FSP app sends a 2nd SessionSetupAndxRequest which has 0x64 as the User ID.
4. The server returns a 2nd SessionSetupAndxResponse which has 0x65

[2015-10-13 01:15] yoichiro commented on #42
@nikjft Thank you for the log. I found a problem about User ID described at the following: https://github.com/yoichiro/chromeos-filesystem-cifs/issues/109#issuecomment-147560322

[2015-10-13 01:17] yoichiro commented on #115
@magic12 @jjquin Sorry, the packets collecting is unnecessary. I found the reason of the NT_STATUS_ACCESS_DENIED. Please see the comment: https://github.com/yoichiro/chromeos-filesystem-cifs/issues/109#issuecomment-147560322

[2015-10-13 01:19] yoichiro commented on #126
@unixbulletin Sorry, the log submission is unnecessary. I found the reason why the NT_STATUS_ACCESS_DENIED" error occurred. Please see: https://github.com/yoichiro/chromeos-filesystem-cifs/issues/109#issuecomment-147560322

[2015-10-13 01:20] yoichiro commented on #128
@WillemChromebook Probably, I found the cause of this problem. Please see: https://github.com/yoichiro/chromeos-filesystem-cifs/issues/109#issuecomment-147560322

[2015-10-13 13:06] Sanmina commented on #132
Do you have a Answer for the Problem??

[2015-10-13 14:05] yoichiro commented on #132
@Sanmina Hey, I already read this issue, therefore, don't close and re-open for notifying!

[2015-10-13 14:39] smbuser commented on #118
Hi @yoichiro

When I enter "home" string as the shared directory I have access to all folders in the directory home,
![screenshot_1](https://cloud.githubusercontent.com/assets/13346531/10457573/54ae42ea-71c7-11e5-9472-e29b0d09b515.png)

but I want to have access only to my folder fkonwinm in your application,because I want to mount only one folder, so when I enter fkonwinm as shared resource name

[2015-10-13 14:51] yoichiro commented on #42
@nikjft I have just released a new version 2.3.1. This version includes the modification about User ID problem. Could you test the version on your environment?

[2015-10-13 14:51] yoichiro commented on #109
@KevinTho I have just released a new version 2.3.1. This version includes the modification about User ID problem. Could you test the version on your environment?

[2015-10-13 14:51] yoichiro commented on #115
@magic12 @jjquin I have just released a new version 2.3.1. This version includes the modification about User ID problem. Could you test the version on your environment?

[2015-10-13 14:51] yoichiro commented on #126
@unixbulletin I have just released a new version 2.3.1. This version includes the modification about User ID problem. Could you test the version on your environment?

[2015-10-13 14:53] yoichiro commented on #128
@WillemChromebook I have just released a new version 2.3.1. This version includes the modification about User ID problem. Could you test the version on your environment?

[2015-10-13 14:56] yoichiro commented on #118
@smbuser I think that the "fkonwinm" is NOT a shared resource, but it is a folder... Well, could you capture packets between your Windows 7 and the target file server by the following steps?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-capture-packets-with-Wireshark
I want to know the correct communication you're expecting from the captured packets log.

[2015-10-13 16:05] didtoknan commented on #109
I'm not Kevin, but now it works for me ! I can access my readyshare server. Thanks a lot !

[2015-10-13 16:06] didtoknan commented on #128
I guess Willem will be as happy as I am, because it works now ! Thanks again.

[2015-10-13 20:58] KevinTho commented on #109
Hi Yoichiro, that has fixed it for me ! Many thanks.

[2015-10-13 22:08] yoichiro commented on #128
@didtoknan OK, thank you for the confirmation.
@WillemChromebook Probably, you can acccess to your server with the latest version. I close this issue. Thank you for this feedback.

[2015-10-13 22:08] #128 closed

[2015-10-13 22:10] yoichiro commented on #109
@KevinTho @didtoknan OK, thank you for feedbacks from you! I close this issue.

[2015-10-13 22:10] #109 closed

[2015-10-14 01:02] rcoleman91 opened #136 "NT_ACCESS_DENIED on Version 2.3.1 - Domain Account"
Hi Yoichiro,
We are still receiving the NT_ACCESS_DENIED error when attempting to connect using a domain account on a server 2012 SMB share.
I have emailed the wireshark capture logs as Github does not support the file types.

Can confirm no issue when connecting from the ChromeOS client to a non-domain joined ubuntu share.

Regards,
Ryan

[2015-10-14 01:10] yoichiro commented on #136
@rcoleman91 Thank you for the feedback. I have already get logs from you via your email. Please give me a few days to investigate the logs and the cause.

[2015-10-14 05:35] smbuser commented on #118
@yoichiro
"fkonwinm" is NOT a shared resource - this is a folder

[2015-10-14 12:28] yoichiro commented on #136
@rcoleman91 I checked the logs you sent to me. Actually, the packet sent from my apps to connect the tree (equals to shared resource) was rejected. And, the packets which communications were successfully have... for Kerberos authentication. I guess that shared resources you tried to access need the Kerberos authentication, and they reject the NTLM(v2) authentication. However, my app doesn't suppor

[2015-10-14 12:34] yoichiro commented on #132
@Sanmina Change the log level to Debug on the setting panel where clicking the gear icon on the login panel of this app, re-collect the console logs on the DevTools and post them here.

[2015-10-14 15:17] nikjft commented on #42
Success! It works perfectly. Server browsing is trouble free, and I can
copy and open files directly from the SMB share.

Thanks so very much for your hard work on this. This was the final missing
component from my ChromeBook. Now I can back up, access, and share files
with people on my LAN without any trouble.

--Nik

On Tue, Oct 13, 2015 at 8:51 AM Yoichiro Tanaka notifications@github.com
wrote:

[2015-10-14 15:36] yoichiro commented on #42
@nikjft My pleasure. I close this issue. Thank you for the feedback!

[2015-10-14 15:36] #42 closed

[2015-10-14 17:11] WillemChromebook opened #137 "READYSHARE ON CHROMEBOOK WORKS"
Thanks for taking care of this! You just have to type the ip address of router, without smb befor it!

[2015-10-14 19:21] unextro commented on #113
@yoichiro The resource is definitely for file sharing. It contains some files. The folder is accessible from Windows without problem. Even your extension says mounted successfully and then gives the C00000BB error later...

[2015-10-14 21:58] yoichiro commented on #113
@unextro I would like to confirm one thing. Can you reproduce this issue with the latest version 2.3.1?

[2015-10-14 22:01] yoichiro commented on #137
@WillemChromebook Well, do you think that it is an issue? Sorry, I cannot understand the meaning you said.

[2015-10-14 22:02] yoichiro commented on #126
@unixbulletin Ping.

[2015-10-14 22:03] yoichiro commented on #115
@magic12 @jjquin Ping.

[2015-10-14 22:24] jjquin commented on #115
Sorry it took so long for me to get back to you. It's my daughter's
Chromebook and I finally got my hands on it. I tested it and it worked
perfectly. Thank you for resolving this issue so quickly!

Thanks

J J Quin

P S Not really an issue just a minor annoyance. In the Chromebook file app,
I'm connected to 2 shares on the same drive plugged into my router. In the
folder list on the left both conn

[2015-10-15 00:08] yoichiro commented on #115
@jjquin Thank you for the feedback. Yes, I intend to think about the idea. I close this issue.

[2015-10-15 00:08] #115 closed

[2015-10-15 00:10] rcoleman91 commented on #136
Hi Yoichiro,
Can confirm NTLMv2 by viewing the event log on the machine that I am attempting to connect to the SMB share.
![ntlm event](https://cloud.githubusercontent.com/assets/14174034/10501438/6328a75e-732d-11e5-9fe0-a36cb2ca6639.PNG)

[2015-10-15 00:11] rcoleman91 commented on #136
Can provide the event log if needed.

[2015-10-15 00:57] WillemChromebook commented on #137
It works fine! I just wanted to thank you for your work. In an earlier note
to me you said that smb:// should not be in the first field, so I just
repeat that.
Thanks again!

Willem

On Wed, Oct 14, 2015 at 6:01 PM, Yoichiro Tanaka notifications@github.com
wrote:

##

Willem Windig

[2015-10-15 20:23] bjkluft opened #138 "(Re)name the shares"
First of all, thank you for this excellent tool!
It works great!
I don have an issue as it is more a request.
I now have multiple shares connected and they all are named the same: 0.0.0.0(NTDOMAIN) or IP(Domain), is there a way to give them the name of the shared folder (or rename them myself)?
Thank you.

[2015-10-18 10:53] aj465 opened #139 ""Some operations are taking longer than expected""
I am getting the "Some operations are taking longer than expected" error frequently very since recent updates. Attached are some logs whilst trying to copy some files, which performs very slowly. The Files app seems to stop responding.

![screenshot 2015-10-18 at 11 50 08](https://cloud.githubusercontent.com/assets/12121944/10563748/66781044-758e-11e5-98d5-5ccf78650cdf.png)

[2015-10-18 12:02] aj465 commented on #139
To explain a little more, this occurred whilst dragging and dropping files into Chrome to upload. I've noticed that once the Files app is closed, these errors eventually stop and my copy (upload) seems to continue more successfully.

[2015-10-19 08:20] BDUGert commented on #113
Same problem at my company. I send you a log directly because of the confidential information in the file. Latest version (2.3.1) has been used. Accessing a native Windows server works well.
Trying to access a NetApp Cifs share (without a Windows server) returns the c00000bb error. Mounting the volume returns no error.

[2015-10-19 09:04] unextro commented on #113
I can confirm 2.3.1 behaves the same as previous version(s). Mounts successfully and then gives the c00000bb.

[2015-10-19 13:58] unextro commented on #113
Funnily enough, I just found out that the share we're trying to access is also on the NetApp share.

[2015-10-20 00:45] yoichiro commented on #137
@WillemChromebook Haha, my pleasure. I must say thank you because your contribution was valuable. You can close this issue, if possible.

[2015-10-20 00:53] yoichiro commented on #136
@rcoleman91 Hmm... OK, I see. Actually, the authentication was successfully, but the next command was rejected from the Win Server.

As the one point, when your server returned the result of the negotiation, the security flag has "signature required: true". That is, perphaps, your server rejects all requests which don't have a signature. In fact, my app doesn't support the signature feature. There

[2015-10-20 00:55] BrantleyHobbs commented on #134
Nothing?  Man, just tell me where the logs are and I'll go look for myself....

[2015-10-20 01:17] yoichiro commented on #134
@BrantleyHobbs I'm sorry for delay, because I was checking other issue. Well, I need to know the detail of the situation. It would be great if you can collect some information/logs by the following steps:

https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

If you also can capture packets both packets from my app and packets from your Windows/Linux

[2015-10-20 02:37] #137 closed

[2015-10-20 20:01] BrantleyHobbs commented on #134
I will get that and get back to you.  Thanks!

[2015-10-22 00:14] yoichiro commented on #136
@rcoleman91 I don't start coding for supporting signature, but I found a bug. It was described at the following post: https://plus.google.com/u/0/+YoichiroTanaka/posts/EEJyicfnSqK I have already released a new version 2.4.0 including code to fix the problem.

Perphaps, the version 2.4.0 will not be able to solve the problem reported by you, I guess. But, could you confirm whether or not the new ve

[2015-10-22 00:17] yoichiro commented on #134
@BrantleyHobbs I found a bug regarding authentication. See the following post for more detail: https://plus.google.com/u/0/+YoichiroTanaka/posts/EEJyicfnSqK I have already released a new version 2.4.0 including code to fix the problem.

I'm not sure that this version can solve this problem, but could you confirm whether the new version 2.4.0 works on your environment?

[2015-10-22 00:18] yoichiro commented on #132
@Sanmina  I found a bug regarding authentication. It was described at the following post: https://plus.google.com/u/0/+YoichiroTanaka/posts/EEJyicfnSqK I have already released a new version 2.4.0 including code to fix the problem.

Could you check whether or not this new version works on your environment?

[2015-10-22 00:21] yoichiro commented on #130
@akanalytics It seems that the log above is not enough. Probably, I think that there are more log line count... Could you re-post your log (between 1st line and last line) here?

[2015-10-22 00:24] yoichiro commented on #126
@unixbulletin I close this issue, because you didn't give me more information. Thank you for your feedback.

[2015-10-22 00:24] #126 closed

[2015-10-22 00:26] yoichiro commented on #124
@taylordottwo I found a bug regarding authentication. I have already released a new version 2.4.0 including code to fix the issue. See the following post for more detail: https://plus.google.com/u/0/+YoichiroTanaka/posts/EEJyicfnSqK

Could you confirm whether or not the new version works on your environment?

[2015-10-22 00:28] yoichiro commented on #113
@unextro @BDUGert @mates52472 I found a bug regarding authentication. I have already released a new version 2.4.0 including code to fix the issue. See the following post for more detail: https://plus.google.com/u/0/+YoichiroTanaka/posts/EEJyicfnSqK

I'm not sure that the new version can solve this issue, but could you confirm whether or not the new version works on your environment?

[2015-10-22 00:30] yoichiro commented on #62
@jdsemma I found a bug regarding authentication. I have already released a new version 2.4.0 including code to fix the issue. See the following post for more detail: https://plus.google.com/u/0/+YoichiroTanaka/posts/EEJyicfnSqK

Could you confirm whether or not the new version works on your environment?

[2015-10-22 00:32] BrantleyHobbs commented on #134
How do I go about installing the new version?  I'm very new to Chromeos, but I am very familiar with Linux, and have my chromebook in dev mode.

[2015-10-22 00:46] yoichiro commented on #134
@BrantleyHobbs Usually, all apps and extensions are updated automatically. You can check each version number on chrome://extensions/ If this app's version number is 2.4.0, it is latest version.

[2015-10-22 01:22] rcoleman91 commented on #136
@yoichiro Looks like you have done something very right! App is working well. I am able to mount our file server and open files directly from the app. Security is also followed with my test account unable to see any files it does not have security permissions to access.

[2015-10-22 02:42] yoichiro commented on #136
@rcoleman91 Wow! It's nice news to me and all users. Thank you for this feedback. I could fix a big problem by your contribution. You can close this issue.

[2015-10-22 02:45] #136 closed

[2015-10-22 09:00] BDUGert commented on #113
I tested the new version but I got the same c00000bb error when trying to mount the system.
I'll send you the log file.

[2015-10-22 09:48] unextro commented on #113
Yep, the bug still remains. We have a meeting with our NetApp admins planned for tomorrow so hopefully we'll get some log from the NAS as well...

[2015-10-22 11:06] BrantleyHobbs commented on #134
That worked!  Thanks!

[2015-10-22 11:06] #134 closed

[2015-10-22 11:42] yoichiro commented on #113
Hmm... Currently, I don't have any idea to fix the error...

@unextro @mates52472 @BDUGert I want to know the corrent packets to communicate between your client and the target server. It would be great if you can capture the packets by the following steps:
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-capture-packets-with-Wireshark

[2015-10-22 12:05] yoichiro commented on #113
@unextro @mates52472 @BDUGert Then, I was finding this reason. Well, my app is using a "FileAllInformation" sub command in a QueryInfoRequest command to fetch information of the target file: https://msdn.microsoft.com/en-us/library/cc232117.aspx However, I guess that your NetApp server doesn't support the sub command... Probably, I can check about that (if there is no FileAllInformation sub comman

[2015-10-22 18:03] jdsemma commented on #62
Successful connection! However I get "Some operations are taking longer
than expected. Do you want to abort them?" notification quite a lot, and it
seems to freeze (regardless of whether I abort or not.)

On Wed, Oct 21, 2015 at 7:30 PM, Yoichiro Tanaka notifications@github.com
wrote:

[2015-10-22 18:05] jdsemma commented on #62
Successful connection! However I get "Some operations are taking longer
than expected. Do you want to

@jdsemma https://github.com/jdsemma I found a bug regarding
authentication. I have already released a new version 2.4.0 including code
to fix the issue. See the following post for more detail:
https://plus.google.com/u/0/+YoichiroTanaka/posts/EEJyicfnSqK

Could you confirm whether or not the new

[2015-10-22 22:07] yoichiro commented on #62
At least, @layerzerolabs didn't provide me more information. And, this issue has some different topics, Therefore, I close this issue. If you have a problem, you can register a new issue. Thank you for all feedbacks.

[2015-10-22 22:07] #62 closed

[2015-10-22 22:09] yoichiro commented on #132
@Sanmina Ping.

[2015-10-23 00:24] yoichiro commented on #113
Probably, this is the cause of this problem... https://msdn.microsoft.com/en-us/library/cc232099.aspx

[2015-10-23 11:36] yoichiro commented on #113
I posted my opinion against this issue on G+: https://plus.google.com/u/0/+YoichiroTanaka/posts/JPK7AahUDRj

[2015-10-23 13:43] unextro commented on #113
I can happily confirm that the 2.5.0 solves the issue for us! Many thanks, @yoichiro...

[2015-10-23 13:49] yoichiro commented on #113
@unextro My pleasure. You can close this issue. Thank you for the feedback!

[2015-10-23 13:53] #113 closed

[2015-10-23 14:08] BDUGert commented on #113
Problem is solved, many thanks @yoichiro

[2015-10-23 14:11] yoichiro commented on #113
@BDUGert My pleasure.

[2015-10-23 19:39] nemolivier commented on #35
Last update finaly solve this issue \o/
I can mount my smb share and even look at a movie from it.
Thank's a lot !

[2015-10-23 20:16] Sanmina commented on #132
Thxs i will check it and let you know

[2015-10-23 21:52] johnmark commented on #35
Same here! I've had no problems for the last 2 weeks.

[2015-10-24 01:20] yoichiro commented on #118
@smbuser Ping.

[2015-10-24 01:21] yoichiro commented on #124
@taylordottwo Ping.

[2015-10-24 01:22] yoichiro commented on #130
@akanalytics Ping.

[2015-10-24 11:47] taylordottwo commented on #124
That sounds like it might fix my issue, but I don't see the updated version
in the Chrome Web Store.

On Fri, Oct 23, 2015 at 9:21 PM, Yoichiro Tanaka notifications@github.com
wrote:

[2015-10-24 12:30] yoichiro commented on #124
@taylordottwo You can see the version at chrome://extensions page. If the File System for Windows app's version is 2.5.0, it is latest version. Anyway, you can close this issue, if the problem you reported here was already been solved.

[2015-10-25 19:52] taylordottwo commented on #124
I checked, and I do have version 2.5.0.  I still have the issue.

On Sat, Oct 24, 2015 at 8:30 AM, Yoichiro Tanaka notifications@github.com
wrote:

[2015-10-25 21:53] yoichiro commented on #124
@taylordottwo To fix this issue, you should provide me a result of a packet capturing by https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-capture-packets-with-Wireshark If you cannot do that, I will not able to fix this issue and will close this issue.

[2015-10-26 00:27] yoichiro commented on #118
@smbuser Sorry, I could understand your opinion. My understanding is:
- You want to mount "\cl-dc0001\home\fkonwinm" only.
- However, my app cannot mount the \home\fkonwinm directory only.
- Therefore, my app lists many folders including the fkonwinm directory, and you must find and double-click the folder. Of course, you don't want to do that.

When you enter the "fkonwinm" as a shared resource n

[2015-10-26 00:28] yoichiro commented on #118
I changed the issue title, because this is NOT a bug but requirement.

[2015-10-26 00:38] yoichiro commented on #60
This is NOT a bug of this app. I have already reported this issue to crbug: https://code.google.com/p/chromium/issues/detail?id=458757 This issue should be fixed by improving of Chrome.

[2015-10-26 00:40] yoichiro commented on #53
@AndreyLavrov I have already implement SMB2 protocol to my app. Well, does this issue occur on the SMB2? Sorry, I'm not sure about this issue...

[2015-10-26 03:30] d3xt3r67 opened #142 "new user - how to access files"
Hi guys,
I have a chromebox and found your app to have access to my shared files. i managed to create and mount my servers ( 1 windows 10 and 1 linux (geexbox)). the mounting is successful but how do I access my shared files ????

maybe I missed something ?

[2015-10-26 05:56] AndreyLavrov commented on #53
Test lab setup:
1) Domain: Microsoft Active Directory (WANCASTLE domain)
2) Server: File server powered by Windows Server 2008 R2 with SMB2 protocol enabled
3) Cromebook: LG Chromebase (Version 46.0.2490.71 (64-bit) Platform 7390.61.0 (Official Build) stable-channel monroe Firmware Google_Monroe.4921.17.0)
4) Windows: Windows 7 (64-bit Eng) with Microsoft Office 2010 suite
5) FS4W: "File System fo

[2015-10-26 05:57] AndreyLavrov commented on #53
TaskQueue: addTask - Call consume task: length=1
TaskQueue: consumeTask - execute task: length=1
onTruncateRequested Object {filePath: "/Docs/Installation Guide.docx", fileSystemId: "cifsfs://WAN-MON01:445/WANCASTLE@SMBDomainUser/Public", length: 0, requestId: 286}
Client#truncate
Header {types_: Types, protocol_: "SMB", structureSize_: 64, creditCharge_: 1, channelSequence_: 0…}
CreateRequest {ty

[2015-10-26 05:59] AndreyLavrov commented on #53
103: Unknown error rised by background.js 6400 line:

![fs4w](https://cloud.githubusercontent.com/assets/12710354/10722311/de32b2d8-7bbf-11e5-9c89-ec7fa40787cc.png)

[2015-10-26 06:30] smbuser commented on #118
Hi @yoichiro

Thanks for your replay

"You want to mount "\cl-dc0001\home\fkonwinm" only. - **exactly I want to mount only one folder**"

Windows can mount subdirectory to some drive letter

...Hmm... will you be able to be happy if you can decide a root directory by yourself in the mounted shared resource? **Can I try this solution?**

[2015-10-26 11:36] yoichiro commented on #118
@smbuser "will you be able to be happy if you can decide a root directory by yourself in the mounted shared resource? Can I try this solution?" Of course, You cannot do that now. I intend to add a new feature to do that.

[2015-10-26 11:57] yoichiro commented on #142
@d3xt3r67 You can access to your directories/files on Files app after mounting your shared resource.

![screenshot 2015-10-26 at 8 56 22 pm](https://cloud.githubusercontent.com/assets/261787/10728319/20f262ee-7c24-11e5-9a68-737e3377d015.png)

[2015-10-26 11:57] #142 closed

[2015-10-26 13:30] d3xt3r67 commented on #142
Hey thanks a lot for the fast reply

[2015-10-27 11:45] yoichiro commented on #118
https://github.com/yoichiro/chromeos-filesystem-cifs/pull/143

[2015-10-27 12:05] yoichiro commented on #118
@smbuser I have released a new version 2.6.0 including a new feature to specify a root directory you want to mount. Could you confirm whether or not the new feature is required by you?

[2015-10-27 13:57] smbuser commented on #118
Hi @yoichiro

This new feature is excellent. Can I mount my home folder fkonwinm ald other folders

Thanks for your help

[2015-10-27 15:04] yoichiro commented on #118
@smbuser You need to enter two values like the following: Shared Resource Name = home, Root Directory = fkonwinm.

[2015-10-30 07:15] smbuser commented on #118
Hi @yoichiro

You need to enter two values like the following: Shared Resource Name = home, Root Directory = fkonwinm. - **this works perfect**

I have a question about name mounted shared folders. Can you change name
![screenshot 2015-10-30 at 07 53 52](https://cloud.githubusercontent.com/assets/13346531/10840068/78acd064-7edb-11e5-9b3b-6a634a472121.png)![screenshot 2015-10-30 at 07 58 18](https:

[2015-10-31 03:46] Subrosians opened #144 "Failure during use: Some operations are taking longer than expected"
On my Dell Chromebook 13 running ChromeOS Version 46.0.2490.71 (64-bit), using "File System for Windows 2.6.0", I can browse my remote fileshare, but when trying to copy a file from the location to my local computer, I get the error below. I have also gotten this error when browsing the directory tree for a few minutes, though it works ok for the first few minutes. The share is hosted on a Server

[2015-11-01 09:49] yoichiro commented on #118
@smbuser I intend to create a new feature which users can name for each connection setting #138. I close this issue. Thank you for this reporting.

[2015-11-01 09:49] #118 closed

[2015-11-01 11:20] yoichiro opened #146 "Support Signature"

[2015-11-01 11:23] yoichiro commented on #146
Committed some code to calculate a signature. #145

[2015-11-01 21:41] yoichiro commented on #139
It seems that this issue is same as #144. As the difference, this issue can be represented in the case of connecting with SMB1.

[2015-11-01 21:41] yoichiro commented on #144
It seems that this issue is same as #139. As the difference, this issue can be represented in the case of connecting with SMB2.

[2015-11-01 22:04] yoichiro commented on #139
Fixed this issue on #147

[2015-11-01 22:05] yoichiro commented on #144
Fixed this issue on #147

[2015-11-01 22:31] yoichiro commented on #139
@aj465 I have released a new version 2.6.1 including code to fix this issue. Could you confirm whether or not this issue is reproduced?

[2015-11-01 22:32] yoichiro commented on #144
@Subrosians I have released a new version 2.6.1 including code to fix this issue. Could you confirm whether or not this issue is reproduced?

[2015-11-01 22:32] yoichiro commented on #124
@taylordottwo Ping.

[2015-11-01 22:34] yoichiro commented on #130
@akanalytics I close this issue, because you didn't provide more information to fix this issue. Thank you for this report.

[2015-11-01 22:34] #130 closed

[2015-11-04 02:41] Subrosian commented on #144
First testing looks good as I have been unable to replicate the issue. I will continue testing and reopen if I can replicate.

[2015-11-04 02:41] #144 closed

[2015-11-04 03:21] yoichiro commented on #144
@Subrosians Thank you for the confirmation.

[2015-11-06 11:47] yoichiro commented on #139
I close this issue, because finally I could not receive any feedbacks from @aj465.

[2015-11-06 11:47] #139 closed

[2015-11-06 11:48] yoichiro commented on #132
@Sanmina Ping.

[2015-11-09 19:51] nabilh2020 opened #148 "Stopped working"
It used to work for me, now it freezes File Manager, and I have to close it to be able to navigate.

I can see one level of directory on mounted volume, but trying to open any lower folder and I get: Some operations are getting longer... abort then I cannot use File Manager until I restart it.

Please fix this :(

[2015-11-09 22:09] yoichiro commented on #148
@nabilh2020 Unfortunately, I cannot start to fix your issue because your comment didn't include information to find the reason. Could you post the debug log here which the you face the issue by the following steps: https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-11-09 22:11] yoichiro commented on #124
I close this issue, because @taylordottwo didn't provide more information to fix this issue. Thank you for the reporting.

[2015-11-09 22:11] #124 closed

[2015-11-09 22:13] yoichiro commented on #132
I close this issue, because @Sanmina didn't provide more information to fix this issue. Thank you for the reporting.

[2015-11-09 22:13] #132 closed

[2015-11-10 20:44] robertstrom opened #149 "NT Status Access Denied"
Hello,

I've been trying to use your app to connect to my Windows 10 system (Windows 10 Pro not in a domain) and keep getting the NT STATUS ACCESS DENIED message if I try logging in as USER NAME = Robert. If I try logging in as 192.168.0.198\Robert I get the message NT STATUS LOGON FAILURE.

Where is the log located so that I can send it to you?

Thanks,

Robert

[2015-11-10 22:13] yoichiro commented on #149
@robertstrom It would be great if you post a comment attached the log file or send an email to yoichiro[at]eisbahn.jp.

[2015-11-10 22:33] robertstrom commented on #149
I'm happy to post the logs. Where do I find them?

[2015-11-11 00:24] yoichiro commented on #149
@robertstrom Oh, I'm sorry. You can collect a log with the following steps: https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools
Please send the log file via email to me.

[2015-11-12 15:39] snoopyski opened #150 "Connot logon on my server windows 2003/2012 domain"
Hello,

I try a lots of configuration but still not able to login on my Windows Domain Server 2003 or 2012.

See the attached file log.

Tks,

Snoopyski !
[Snoopyski.log.txt](https://github.com/yoichiro/chromeos-filesystem-cifs/files/33012/Snoopyski.log.txt)

[2015-11-14 22:12] yoichiro commented on #149
@robertstrom Yesterday, I tried to access to my Win10 (not use Domain auth) from my app. The error code was NT_STATUS_INVALD_PARAMETER, not NT_LOGIN_FAILURE and NT_STATUS_ACCESS_DENIED.

[2015-11-17 12:01] yoichiro commented on #149
I found some differences of the IoctlRequest content like the following:
- Credits requested: Success:256, Failure:1
- Max Xmit Frag: Success:65535, Failure:4280
- Max Recv Frag: Success:65535, Failure:4280

[2015-11-18 11:39] selgar opened #151 "App does nothing"
I'm trying the app on a number of laptops and on each one, once installed I click on the app and all it seems to do is close the current tab in Chrome. I installed the app on a Chromebook (laptop running Neverware) and it app seems to work.

I tried the app on both Mac & PC. OSX Chrome version is 46.0.2490.80 (64-bit), Windows is 46.0.2490.86 m (64-bit).

[2015-11-18 11:41] selgar opened #152 "Open Doc file doesnt open Google Docs"
I guess this is perhaps a feature request rather than a bug but I have the app working on a Chromebook.

I can browse my server but when I click on a Microsoft Word (doc) file I would have hoped that it would open Google Docs whereas it just says that file is not supported.

I would also hope that the same would happen with Excel and Powerpoint files

[2015-11-18 11:43] yoichiro commented on #151
This software can be worked on ChromeOS only.

[2015-11-18 11:43] #151 closed

[2015-11-20 00:00] ksorenson3379 opened #153 "Cant get the server to open"
I was able to mount the server and I opened the file app and clicked on the server and nothing happens. Am I missing something I tried to look through the posts and could not find the problem. Thanks in advance for your help

[2015-11-21 17:07] rdeg opened #154 "Failed to download to a NAS server"
Under Chrome, failed to directly download a file from the Internet to a folder of a NAS server.
I can download to the Download folder of my Chromebook and then copy the downloaded file to the NAS.
Error message as visible in the Download status bar of Chrome show something like "Failure - Downloading error" (in French : "Echec - Erreur lors du téléchargement").

[2015-11-21 19:53] roseberrytim opened #155 "Trying to connect to an Apple TimeCapsule"
I have been trying to get connected to my Apple Time Capsule but every time it connects it comes back with an STATUS_OBJECT_PATH_NOT_FOUND.  I am using version 2.6.1.  The fields are as follow:
Server Host Name / IP Address = 192.168.x.x
Server Port Number = 445
User Name = <My Username>
Password = <My Password>
Domain Name = <blank>
Shared Resource Name = TImeCapsule
Root Directory = <blank>

Wou

[2015-11-24 23:02] robertstrom commented on #149
Sorry that it's taken so long to get back to you ... I have not gotten any email notifications that this thread was updated (not sure that whether I should or not) and I just saw this when I happened to check up on the issue (I haven't been @ home to use my Chromebook to connect to my Windows 10 system).

I have gone to the extension page and looked for the "background page" link and there is none

[2015-11-25 00:17] yoichiro commented on #148
@nabilh2020 I close this issue because you did not provide any information to fix this issue. You can repoen this issue when you can get the logs and other valuable information. Thank you for the reporting.

[2015-11-25 00:17] #148 closed

[2015-11-25 00:20] yoichiro commented on #149
@robertstrom At least, I found some problems regarding Win10. Currently, I'm testing a new version to fix these problems. The pull request has the modifications to fix the problems: #156. Anyway, I think that you don't need to provide logs to me right now.

[2015-11-25 00:21] yoichiro commented on #150
@snoopyski Thank you for the reporting. I'm testing a new version to fix this problem now. #156.

[2015-11-25 00:24] yoichiro commented on #152
@selgar I think that your request cannot be covered by my app. Currently, to determine an app to open the selected file is depended on the ChromeOS.

[2015-11-25 00:24] #152 closed

[2015-11-25 00:25] yoichiro commented on #153
@ksorenson3379 Could you get debug logs on the console tab in the DevTools by the following steps? https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-11-25 00:27] yoichiro commented on #154
Same as #60

[2015-11-25 00:27] #154 closed

[2015-11-25 00:29] yoichiro commented on #155
@roseberrytim Could you provide debug logs of the console tab in the DevTools collected by the following steps? https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-11-25 01:11] ksorenson3379 commented on #153
I am a teacher so I am not at school till Monday so this may not read what it needs to, but this is all it said on it.  I was not sure how to capture it as a picture.

Looked up with chrome.mdns:  Array[0]

[2015-11-25 10:23] yoichiro commented on #149
@robertstrom I have released the new version 2.6.2 including code to fix this issue. Could you confirm whether or not you can reproduce this issue on your environment?

[2015-11-25 10:24] yoichiro commented on #150
@snoopyski I have released the new version 2.6.2 including code to fix this issue. Could you confirm whether or not you can reproduce this issue on your environment with the new version?

[2015-11-28 00:10] robertstrom commented on #149
@yoichiro - I uninstalled and reinstalled the app just to be sure ... I am still getting the NT_STATUS_ACCESS_DENIED error

[2015-11-28 00:51] yoichiro commented on #149
@robertstrom Really? Well, I need a debug log output on your environment. https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools In this page, there are some images of File System for Dropbox, but you can do the same way to collect the logs of File System for Windows.

[2015-11-30 14:59] jcrick69 commented on #138
Yes, I would like to be able to rename / alias shares too.

Thanks, Jerry

[2015-11-30 15:03] jcrick69 opened #157 "Persistent Shares"
Can the system persist a share/mount between sessions and different computers?

Actually, I want the the share to be available after I switch from one Chromebook to another, assuming the Chromebook has access to the network of course.

Thanks, Jerry

[2015-11-30 15:31] jcrick69 opened #158 "NAS Box"
Hi
I can mount a share on my NAS box but the files/folders in that share do not appear in the list, i.e. the filesystem cannot find them (I guess).

Thanks, Jerry

[2015-11-30 20:45] bristolview opened #159 "Feature Request: Access to Transporter system by Connected Data/Drobo (similar to Dropbox but personal)"
Connected Data has a system for a private cloud similar to dropbox, but self hosted. The system includes both personal and enterprise servers, ranging from cheap to costly.  The ChromeOS machines cannot natively access the files on the Transporter system.  It would be great if the Transporter system could be accessed in a similar way you have enabled OneDrive and Dropbox.  Transporter has publishe

[2015-11-30 23:53] oogunlegan opened #160 "All The Right Data, Still Can't Connect - What Am I Missing"
I've entered what I believe is all the correct info to connect to my server and I'm still unable to.

I'm attempting to connect to Windows Server 2012 R2.  I'm able RDP into my machine from other Windows PC's on my network as well as even remote into the same server via Chromes Remote Desktop.

Any help that I can get would be much appreciated.

[2015-12-01 11:08] pettergul opened #161 "Can`t even find my shares?"
Hi

I can`t get it to work at all.
It won`t find my shares at all. Not with just the IP of the server, nor with IP and username password etc.

My shares are on an Win10 maschine. And no other computers have problem with finding them.

This is the log from the console when I`m trying to connect:

Domain name not specified. '?' will be applied.
Negotiated with SMB2
SPNEGO = true
Supported mechType:

[2015-12-01 12:45] snoopyski commented on #150
Hello,

I try the lest version and still no luck ! Not working :-/

Stéphane Gauvin,
Président | Consultant
Tel. 450.536.2154
Cell. 514.808.2535
_SERVICE INFORMATIQUE SG_
sgauvin@serviceinfosg.com

2015-11-25 5:24 GMT-05:00 Yoichiro Tanaka notifications@github.com:

[2015-12-01 13:13] akimitsuy opened #162 "Chromebook got unstable when opening a folder."
My Chromebook got unstable when I tried to open some folders where even just tens of pictures or folders.

When this is happen, the following message is shown at the right bottom of the screen and Chromebook was about to freeze.
---
操作に予想より時間がかかっています。
中止しますか？
---

I checked the console log and found that there were a huge access to the samba share, perhaps due to the file app creating the thumbnai

[2015-12-02 01:58] oogunlegan commented on #128
I'm having issues mounting my server and getting the same NT STATUS error that as posted earlier in this post.

I believe I have the most recent version of the app, I just d/l it 2 days ago.

Any help would be wonderful

[2015-12-02 17:17] wess89 opened #163 "Windows Mount wont stay mounted"
The Windows Server is 2008 R2.

I am using a LG Chrome Base all in one.

I mount the Win File system on the Chrome OS Via the Window Mount App.

I am able to Mount the File Server just fine.

The Problem is between 3 and 5 days the Mounted Server vanishes from Chrome  and is no longer mounted when I log on.

What would cause this? and what would be the fix to make the mounted drive stay?

Thanks

[2015-12-03 22:30] yoichiro commented on #157
@jcrick69 I think that a shareing of configurations can be implemented, but a sharing of such mounting state (ex. if you mount some server on your Chromebook A, the server is mounted automatically on your Chromebook B) cannot be implemented (at least, I don't want such feature).

For example, currently, the chrome.storage.local has been using: https://github.com/yoichiro/chromeos-filesystem-cifs/b

[2015-12-04 00:16] yoichiro commented on #158
@jcrick69 I almost cannot understand your situation. Could you provide me the debug log which is the result of accessing to your NAS box with the following steps?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-12-04 00:19] yoichiro commented on #159
@bristolview Unfortunately, I don't know Connected Data. Is it "http://www.connecteddata.com/"?

[2015-12-04 00:21] yoichiro commented on #160
@oogunlegan It would be great if you provide me the debug log with the following steps? I want to know your situation more deeply.
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-12-04 00:25] yoichiro commented on #161
@pettergul Thank you for the reporting. However, it seems that the logs was not the output on the debug level "Trace". You can change the debug log level on the configuration page which is opened by clicking the "gear" icon on the right of bottom. It would be great if you re-collect the debug log on the trace level.

[2015-12-04 00:34] yoichiro commented on #162
@akimitsuy Yes, your guess is almost correct. The Files.app creates many events to the FSP implementation depending on files/folders you have. I want to know more detail. Could you provide me the structure of your files/folders simply? For example...

[code]

[2015-12-04 00:38] yoichiro commented on #163
@wess89 Could you provide me the debug log collected by the following steps?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-12-04 00:40] yoichiro commented on #150
@snoopyski Could you provide me the debug log collected by the following steps again?
https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-12-04 00:43] yoichiro commented on #153
@ksorenson3379 Hmm... It seems that it was not the debug level "Trace". You can change the debug log level on the configuration page opened by clicking the button like "gear" image. Could you collect the debug log again? https://github.com/yoichiro/chromeos-filesystem-cifs/wiki/How-to-Capture-the-Console-Log-of-DevTools

[2015-12-04 04:19] akimitsuy commented on #162
Please find attached [folder_structure.txt](https://github.com/yoichiro/chromeos-filesystem-cifs/files/51632/folder_structure.txt).

For example, when I clicked dir_691 or dir_346, my chromebook got slower, or almost frozen.
The size of files in dir_691 are around 7MB (1.6M pix jpeg) or 18MB (1.6M pix DNG raw).

OTOH, I can browse dir_1 normally.

[2015-12-04 04:49] bristolview commented on #159
There are two links, one for consumer and one for enterprise systems.
Consumer: http://filetransporterstore.com/
Enterprise: http://www.connecteddata.com/app-developer/

Sorry for not providing links earlier.  The app-developer url above has information on the API to integrate with the service.  The service has two modes of access, NAS and Local Sync.  Mobile devices such as smartphones and tablet

[2015-12-04 08:24] jcrick69 commented on #157
OK, thanks. Actually, the mount is also lost when you logoff.

Jerry

[2015-12-04 08:24] #157 closed

[2015-12-04 09:06] jcrick69 commented on #158
In the instructions on that page the item at 0.1 says Launch this app - what is 'this app'?

Thanks, Jerry

[2015-12-04 09:26] yoichiro commented on #158
@jcrick69 The "this app" means the File System for Windows app you installed.

[2015-12-04 09:59] jcrick69 commented on #158
Ah, sorry.

OK, here is the log - note that when I click on the share in 'Files' nothing is added to the log...

File System for Windows Version 2.6.3
background.js:19645 Debug level: 2
background.js:19548 Looked up with chrome.mdns:  Array[0]
background.js:6517 Object {serverName: "192.168.10.4", serverPort: "445", username: "everyone", password: "xxxxxx", domainName: ""…}
background.js:6517 Clie

[2015-12-04 10:14] yoichiro commented on #158
@jcrick69 Hmm... I guess that your NAS server requested a Domain Authentication, when I checked the server response below:

[code]

However, you didn't specify any Domain name:

[code]

I think that you need to fill in some Domain Name...

[2015-12-04 10:40] jcrick69 commented on #158
OK, added a domain.

The share mounts but the name now appears as 192.168.10.4 (domain.name@everyone) - I would have perhaps expected everyone@domain.name ...?

It still cannot display the contents of the folder...

Thanks, Jerry

[2015-12-04 12:53] ghost commented on #161
Hi again. ANd thanks for answering. Here it comes, changed to "trace" and here it is :-)
I try to accesses 192.168.1.2 port 445.

Log:

File System for Windows Version 2.6.3
Debug level: 2
Looked up with chrome.mdns:  Array[0]
Object {serverName: "192.168.1.2", serverPort: "445", username: "", password: "", domainName: ""…}
Client#login
Domain name not specified. '?' will be applied.
connect
Heade

[2015-12-04 14:09] wess89 commented on #163
Logs have been attached.

Thanks

On Thu, Dec 3, 2015 at 6:38 PM, Yoichiro Tanaka notifications@github.com
wrote:

##

_Wes Berry_
EXT. _10 1424
*Information Technology_
wesley.berry@awginc.com

[2015-12-05 02:49] robertstrom commented on #149
@yoichiro This is the first chance that I've had to get the logs. One note with regards to your instructions to collect the logs ... I don't believe that it mentions that you need to check the Developer mode box in order to see the background page.

Logs should be attached.

[rstrom_file_system_for_windows.log.txt](https://github.com/yoichiro/chromeos-filesystem-cifs/files/52701/rstrom_file_system

[2015-12-05 12:15] oogunlegan commented on #160
background.js:19644 File System for Windows Version 2.6.3
background.js:19645 Debug level: 2
background.js:19548 Looked up with chrome.mdns:  Array[0]
background.js:6517 Object
background.js:19638 /F:\
background.js:6517 Client#login
background.js:6524 connect
background.js:6524 Header
background.js:6524 NegotiateProtocolRequest
background.js:6524 Packet
background.js:6517 writePacket
background.j

[2015-12-07 04:51] rcoleman91 opened #166 "Mounting share on Windows 2012 - Successful but only top folders (NT_STATUS_PATH_NOT_COVERED)"
Hi,
Attempting to mount SMB share hosted on Windows Server 2012 using domain credentials.

Share is mounted successfully but only the root directory folders are visible.
When opening any folder, nothing is visible.
NTFS permissions are confirmed not to be the cause as have tested with domain account with full permissions to everything with same results.
Log is attached.

[2015-12-07 04:54] rcoleman91 commented on #166
Have had to change extension to .txt to upload.

[mfhnnfciefdpolbelmfkpmhhmlkehbdf-1449463488022.txt](https://github.com/yoichiro/chromeos-filesystem-cifs/files/53470/mfhnnfciefdpolbelmfkpmhhmlkehbdf-1449463488022.txt)

[2015-12-07 17:42] gcerq opened #167 "Unable to Mount Windows server 2008R2 Share"
I have tried to mount a shared folder on our windows 2008r2 server using the default port but keep receiving the following error: c0000006d: NT_Status_Logon_Failure.

I am using the Toshiba Chromebook 2 with the newest version of the app

[2015-12-08 17:07] jatika opened #168 "nothing works"
we are on a windows 2012 domain, trying to access file shares on a 2008 R2 server...

attached is the output. ive tried several combinations on the config. at one point, if i used a local admin account on the file server im trying to mount, i got it working.

i'm confused if this will work on a domain environment with windows authentication.

thanks!

NTLMSSP_NEGOTIATE_NTLM2_KEY: true
background.j